#bannerHome {
	.item {
		height: 350px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.container {
		position: relative;
	}
	.carousel-indicators {
		bottom: 5px;
		left: inherit;
		width: auto;
		right: 0;
		li {
			background-color: @color-ffffff;
		}
		.active {
			background-color: @color-2d8fce;
			border-color: @color-2d8fce;
		}
	}

	.item [class*="col-"]{
		height: 350px;
	}

	.box-text {
	    background-color: rgba(98, 99, 102, 0.8);
	    position: absolute;
	    left: 15px;
	    bottom: 0;
	    width: 100%;
	    padding: 20px;
	    p {
	    	font-size: @size-20;
	    	color: @color-ffffff;
	    }
	}

	.carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}