.btn {
	.transition(.3s);
}

.btn-gray-1 {
	color: @color-ffffff;
	background-color: @color-626366;
	border-radius: 2px;
	border-bottom: 3px solid @color-505154;
	&:hover {
		color: @color-ffffff;
		background-color: @color-505154;
	}
}

.btn-blue-1 {
	color: @color-ffffff;
	background-color: @color-072743;
	border-radius: 2px;
	border-bottom: 3px solid @color-051d34;
	&:hover {
		color: @color-ffffff;
		background-color: @color-051d34;
	}	
}

.btn-group-sm>.btn, .btn-sm {
	padding: 4px 10px;
}