.destaque {
	h2 {
		font-size: @size-32;
		color: @color-626366;
		font-weight: @text-bold;
	}
	.box-destaque {
		position: relative;
		margin-bottom: 30px;
		background-color: @color-eeeeee;
		img {
			width: 100%;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
		.text {
			padding: 10px 20px;
			color: @color-626366;
			font-size: @size-18;
			font-weight: @text-bold;
			height: 110px;
			position: relative;
		}
		.link {
			position: absolute;
			bottom: 15px;
			left: 20px;
			font-size: @size-12;
			color: @color-2c8ecd;
			text-transform: uppercase;
			text-decoration: none;
			.fa {
				font-size: @size-14;
			}
		}
	}
}