header {
	.header-top {
		background-color: @color-e9f6ff;
		padding: 12px 0;
		label {
			font-size: @size-14;
			color: @color-1a5a8e;
			font-weight: @text-bold;
			margin-right: 25px;
		}
		.form-group {
			margin-right: 30px;
			.form-control {
			    width: 125px;
			}
		}
		.btn {
			width: 125px;
		}
	}
	.header-bottom {
		padding: 20px 0 35px;
		background-color: @color-ffffff;
		border-bottom: 1px solid #ccc;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.form-group {
			float: left;
			margin-bottom: 0;
			.form-control {
				padding-right: 29px;
			}
			.icon-basic-magnifier {
				font-size: @size-20;
				color: @color-626366;
				position: absolute;
			    right: 12px;
			    bottom: 6px;
			}
		}
		nav {
			position: relative;
		}
		.menu-a {
			position: absolute;
			right: 0;
			bottom: -16px;
			ul {
				float: left;
				padding: 0;
				margin: 0;
				margin-right: 25px;
				position: relative;
				top: 7px;
				li {
					float: left;
					&:after {
						content: "|";
						color: @color-d7d8d3;
						font-size: 20px;
						position: relative;
						top: 1px;
					}
					&:last-child:after {
						content: "";
					}
					a {
						font-size: @size-12;
						color: @color-626366;
						text-transform: uppercase;
						text-decoration: none;
						padding: 0 10px;
					}
				}
			}
		}
		.menu-b {
			position: absolute;
			bottom: -96px;
			left: 0;
			width: 100%;
			z-index: 2;
			padding: 0 15px;
			[class*="col-"] {
				text-align: center;
				color: @color-ffffff;
				font-size: @size-18;
				padding: 0;
				.transition(.3s);
				a {
					color: inherit; 
					text-decoration: none; 
					padding: 18px 0; 
					display: block;
				}
				&:nth-child(1) {
					background-color: rgba(37,102,177,0.85);
					&:hover {
						background-color: rgba(37,102,177,1);
					}
				}
				&:nth-child(2) {
					background-color: rgba(44,142,205,0.85);
					&:hover {
						background-color: rgba(44,142,205,1);
					}
				}
				&:nth-child(3) {
					background-color: rgba(29,90,144,0.85);
					&:hover {
						background-color: rgba(29,90,144,1);
					}
				}
				&:nth-child(4) {
					background-color: rgba(7, 39, 67, 0.85);
					&:hover {
						background-color: rgba(7, 39, 67, 1);
					}
				}
			}
		}
	}
}