.label {
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
	border-radius: 0;
	font-size: @size-12;
	color: @color-ffffff;
	text-transform: uppercase;
}

.label.espaco-eletros {
	background-color: @color-90641d;
}
.label.financas {
   background-color: @color-1d5a90;
}