.programas-produtos-patrocinadoras {
	padding: 50px 0;
	background-color: @color-eeeeee;
	h2 {
		font-size: @size-32;
		color: @color-626366;
		font-weight: @text-bold;
		margin-bottom: 30px;
	}
	.programas img {
		margin: 0 auto;
		display: block;
	}

	.produtos img {
		margin-bottom: 25px;
	}
}

.programas-produtos-patrocinadoras:last-child {
	background-color: @color-ffffff;

	.patrocinadoras {
		img {
			float: left;
			margin: 0 25px 15px;
		}
	}
}
