@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "forms.less";
@import "buttons.less";
@import "banner.less";
@import "breadcrumb.less";
@import "destaque.less";
@import "ultimas-noticias.less";
@import "label.less";
@import "programas-produtos-patrocinadoras.less";
@import "footer.less";

* {
	outline: none !important;
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

.img {
	width: 100%;
}

@media (min-width: 1200px) {
	.container {
	    width: 970px;
	}
}

@media (max-width: 1200px) {
	
}

@media (max-width: 992px) {
	// Header
	header {.logo {width: 70%;} .menu-a a {font-size: 10px !important;} }

	// Home
	.ultimas-noticias h2, .destaque h2, .programas-produtos-patrocinadoras h2 {font-size: 28px;} footer > .container > .row:last-child .eletros {min-height: 560px;}
}

@media (max-width: 768px) {

	header .area-participante {float: none !important;}
	header .header-top .form-group {margin-right: 0; }
	header .form-inline label {display: block; width: 100%;}
	header .header-top .form-group .form-control {width: 100%;}
	header .header-top .btn {width: 100%;}



	header .header-bottom .menu-b {position: inherit; bottom: 0;}
	header .header-bottom .menu-a {position: inherit;}
	header .header-bottom .left, header .header-bottom .right {float: none;}
	header .logo {width: inherit; margin: 0 auto;}
	header .header-bottom .form-group {float: none; margin: 15px 0;}
	header .header-bottom .form-group .icon-basic-magnifier {right: 28px;}
	header .header-bottom .menu-b {padding: 0; margin: 0;}
}