.ultimas-noticias {
	h2 {
		font-size: @size-32;
		color: @color-626366;
		font-weight: @text-bold;
	}
	a:not(.btn) {
		color: inherit;
		text-decoration: none;
	    display: block;
	    min-height: 140px;
	    padding: 30px 0;
	}
	li {
		font-size: @size-14;
		color: @color-626366;
		font-weight: @text-bold;
		border-bottom: 1px solid @color-eeeeee;
		&:last-child {
			border: 0;
		}
	}
	.link {
		margin-top: 10px;
		font-size: @size-12;
		color: @color-2c8ecd;
		text-transform: uppercase;
		text-decoration: none;
		.fa {
			font-size: @size-14;
		}
	}
	.box-label {margin-bottom: 10px;}
	.label {
		position: relative;
	}
}