// colors
@color-ffffff:					#ffffff;
@color-e9f6ff:					#e9f6ff;
@color-1a5a8e:					#1a5a8e;
@color-c6c8ca:					#c6c8ca;
@color-626366:					#626366;
@color-505154:					#505154;
@color-d7d8d3:					#d7d8d3;
@color-2d8fce:					#2d8fce;
@color-eeeeee:					#eeeeee;
@color-2c8ecd:					#2c8ecd;
@color-1d5a90:					#1d5a90;
@color-90641d:					#90641d;
@color-555555:					#555555;
@color-777777:					#777777;
@color-999999:					#999999;
@color-5d5d5d:					#5D5D5D;
@color-333333:					#333333;
@color-072743:					#072743;
@color-051d34:					#051d34;
@color-57585a:					#57585a;		

// font-size
@size-10:						10px;
@size-12:						12px;
@size-14:						14px;
@size-16:						16px;
@size-18:						18px;
@size-20:						20px;
@size-25:						25px;
@size-32:						32px;

// font-weight
@text-thin:						100;
@text-light:					300;
@text-normal:					400;
@text-medium:					500;
@text-bold:						700;
@text-ultra-bold:				900;