.breadcrumb {
	height: 0;
	background-color: transparent;
	.container {
    	margin-top: 2px;
	}
	.icon {
		float: left;
		color: @color-626366;
		font-size: @size-16;
		margin-right: 5px;
		position: relative;
    	top: -1px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			float: left;
			color: @color-626366;
			font-size: @size-12;
			text-transform: uppercase;
			cursor: default;
			a {
				color: inherit;
				text-decoration: none;
			}
			& a:after {
				content: "/";
				padding: 0 5px;
			}
			&:last-child a:after {
				content: "";
			}
			&:hover {
				color: @color-1d5a90;
			}
			&:last-child:hover {
				color: @color-626366;
			}
			strong {font-weight: inherit;}
		}
	}
}