.btn {
	.transition(.3s);
}

.btn-gray-1 {
	color: @color-ffffff;
	background-color: @color-626366;
	border-radius: 2px;
	border-bottom: 3px solid @color-505154;
	&:hover {
		color: @color-ffffff;
		background-color: @color-505154;
	}
}

.btn-blue-1 {
	color: @color-ffffff;
	background-color: @color-072743;
	border-radius: 2px;
	border-bottom: 3px solid @color-051d34;
	&:hover {
		color: @color-ffffff;
		background-color: @color-051d34;
	}	
}

.btn-blue-2 {
	color: @color-ffffff;
	background-color: @color-1d5a90;
	border-radius: 2px;
	border-bottom: 3px solid @color-184976;
	&:hover {
		color: @color-ffffff;
		background-color: @color-184976;
	}	
}

.btn-group-sm>.btn, .btn-sm {
	padding: 4px 10px;
}

.btn-pdf {
	width: 204px;
	min-height: 70px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 100px;
	border: 1px solid #c6c8ca;
	border-radius: 3px;
	color: #000;
	background-image: url(../img/pdf.png);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 68px;
	text-transform: uppercase;
	font-weight: @text-bold;
	font-size: @size-14;
	color: @color-626366;
	vertical-align: middle;
	position: relative;
	text-decoration: none;
    padding-top: 15px;
    line-height: 18px;
	.transition(.3s);
	&:hover {
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
}