.demonstracoes-contabeis {
	h2 {
		margin-top: 0;
		margin-bottom: 40px;
		font-size: @size-26;
		color: @color-2b88c8;
		font-weight: @text-light;
		line-height: 32px;
	}
	p {
		font-size: @size-16;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 25px;
		margin-bottom: 0;
	}
	.btn-demonstracoes-contabeis {
		background-image: url(../img/btn-demonstracoes-contabeis.png);
		width: 204px;
		height: 70px;
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 100px;
		border: 1px solid #c6c8ca;
		border-radius: 3px;
		.transition(.3s);
		&:hover {
			opacity: 0.7;
			filter: alpha(opacity=70);
		}
	}
}