.detalhes-noticia {

	.data-noticia {
		float: right;
		color: @color-939597;
		text-transform: uppercase;
		font-size: @size-12;
	}

	h1 {
		font-size: @size-45;
		color: @color-626366;
		font-weight: @text-light;
		line-height: 55px;
		margin-top: 30px;
	}
	img {
	    display: block;
	    max-width: 100%;
	    height: auto;
	    margin-bottom: 25px;
	}
	p {
		font-size: @size-16;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 25px;
	    margin: 0 0 30px;
	}
	iframe {
		width: 100%;
		height: 360px;
		margin-bottom: 20px;
	}
	.diver {
		width: 100%;
		height: 4px;
		background-color: @color-2c8ecd;
		margin-bottom: 50px;
	}
}