.diretoria-e-conselhos, .governanca-corporativa {
	padding-bottom: 50px;
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: @size-22;
        color: @color-626366;
        font-weight: @text-bold;
    }
    .table-responsive {
    	border-bottom: 2px solid #626366;
    	padding-bottom: 0px; 
    	margin-bottom: 50px;
    }
    table {
    	margin-bottom: 10px;
        thead {
            background-color: @color-1d5a90;
            tr th {
                color: @color-ffffff;
                font-weight: @text-normal;
                text-align: center;
                text-transform: uppercase;
                padding: 10px 20px;
                font-size: @size-14;
                border-right: 1px solid @color-ffffff;
                border-bottom: 0;
                &:last-child {
                	border-right: 0;
                }
            }
        }
        tbody {
        	tr {
        		background-color: transparent;
                td {
		            border-right: 1px solid @color-ffffff;
		            font-size: 14px;
		            font-weight: 300;
		            color: #333333;
		            padding: 5px 20px;
		            border-top: 0;
		            &:last-child {
		            	border-right: 0;
		            }
                }
        	}
        	tr:nth-of-type(odd) {
        		background-color: transparent;
        	}
            tr:nth-of-type(even) {
            	background-color: #c6c8ca;
            }
        }
    }
}
