.form-control {
	box-shadow: none;
	border-color: @color-c6c8ca;
	border-radius: 2px;
	color: @color-626366;
	font-size: @size-14;
	&:focus {
		box-shadow: none;
	}
}

textarea {
	resize:none;
}