.galeria-de-midia {
	background-color:#e0e2e3;
	padding: 10px 0 30px;
	.slide {
		position: relative;
		padding: 0 30px;
	}
	i.fa.fa-chevron-circle-left {
		position: absolute;
		left: 0;
		top: 50%;
		font-size: 30px;
		color: #1d5a90;
	    margin-top: -15px;
	}

	i.fa.fa-chevron-circle-right {
		position: absolute;
		right: 15px;
		top: 50%;
		font-size: 30px;
		color: #1d5a90;
		margin-top: -15px;
	}

	.bx-pager-item .bx-pager-link {
		display: none;
	}

	i.fa {
		.transition(.3s);
	}

	i.fa:hover {
		color: #133B5E;
	}
}