.midia {
	h2 {
		font-size: @size-35;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 42px;
		margin-bottom: 60px;
	}
	.input-search {
		label {
			font-size: @size-12;
			font-weight: @text-normal;
			color: @color-626366;
			line-height: 20px;
		    padding-right: 0;
		}
		.form-control {
			border-radius: 0;
			height: 40px;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
	.panel { 
		border-radius: 0;
		border: 0;
		box-shadow: none;
		position: relative;
		overflow: hidden;
		.image {
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			.transition(.3s);
			img {visibility: hidden;}
		}
		&:hover {
			.image {background-size: 105%;}
		}
		.panel-footer {
			border: 0;
			padding: 15px 10px;
			p {
				font-size: @size-18;
				font-weight: @text-bold;
				color: @color-626366;
				line-height: 21px;
				margin-bottom: 10px;
			}
			span {
				display: block;
				font-size: @size-12;
				font-weight: @text-normal;
				color: @color-2c8ecd;
				text-transform: uppercase;
				text-align: right;
				.fa {
					font-size: @size-20;
				}
			}
		}
	}
	.form-group {
		margin-bottom: 30px;
	}
}

.fotorama__thumb-border {
	border-color: #195B8D;
}

#galeriaModal {
	.modal {
		background-color: rgba(0, 0, 0, 0.7);
	}
	.modal-dialog {
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
}

#videoModal .modal-dialog {
	.modal {
		background-color: rgba(0, 0, 0, 0.7);
	}
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}