.patrocinadoras {
	background-color: @color-ffffff;
	.box-patrocinadoras {
		min-height: 72px;
		position: relative;
		margin-top: 5px;
		border-right: 1px solid #d1d1d1;
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		.box-patrocinadoras img {
			margin-right: 12px;
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {
		.box-patrocinadoras img {
			margin-right: 67px;
		}
	}

}