.question {
	ul {
		margin: 0;
		padding: 0;
	}
	&>ul, &>ul * {
		box-sizing: border-box;
		text-transform: uppercase;
	}

	&>ul>li {
		background-color: @color-ffffff;
		padding: 15px 20px;
		margin-bottom: 10px;
	}
	&>ul>li>h4 {
		font-size: @size-18;
		font-weight: @text-light;
		color: @color-333333;
		margin-bottom: 15px;
		line-height: 22px;
		text-transform: none;
	}
	&>ul>li>ul {
		padding: 0 12px;
		&::after {
		    content: "";
		    clear: both;
		    display: block;
		}
	}
	&>ul>li>ul>li {
		float: left;
		width: 20%;
		padding: 0 10px;
	}
	&>ul>li>ul>li>label {
		display: block;
		border: 1px solid transparent;
		padding: 2px;
		font-style: 12px;
		.transition(.5s);
		&:hover {
			border-color: #ff6600;
		}
	}
	&>ul>li>ul>li>label p {
		margin-bottom: 0 !important;
		font-size: @size-25;
		text-transform: none;
		line-height: 30px;
	}
	&>ul>li>ul>li>label>div{
		display: block;
		font-size: @size-12;
		font-weight: @text-light;
		color: @color-ffffff;
		padding: 5px 0;
		line-height: 15px;
		cursor: pointer;
		text-align: center;
		height: 70px;
		.transition(.5s);
	}
	&>ul>li:nth-child(1)>ul>li>label p {
		font-size: @size-18;
	}
	&>ul>li>ul>li:nth-child(1)>label>div {
		background-color: #1d5991;
	}
	&>ul>li>ul>li:nth-child(2)>label>div {
		background-color: #33699c;
	}
	&>ul>li>ul>li:nth-child(3)>label>div {
		background-color: #4a7aa7;
	}
	&>ul>li>ul>li:nth-child(4)>label>div {
		background-color: #608ab2;
	}
	&>ul>li>ul>li:nth-child(5)>label>div {
		background-color: #779bbd;
	}
	&>ul>li>ul>li>input {
		display: none;
	}
	input:checked + label {
		border-color: #ff6600;
	}
	input:checked + label div {
		background-color: #ff6600 !important;
	}
	.soma {
		max-width: 608px;
		margin: 0 auto;
		h5 {
			text-align: center;
			font-size: @size-18;
			font-weight: 400;
			color: #333333;
		}
		p {
			font-size: 18px;
			font-weight: 333;
			color: #333333;
			line-height: 4px;
			b {
				font-size: 25px;
				font-weight: bold;
				color: #333333 !important;
			}
		}
		.exp {
			margin-top: 40px;
			p {
				font-size: 16px;
				line-height: 0;
				b {
					font-size: 16px;
				}
				margin-top: 30px;
			}
		}
	}
	.total {
		&::after {
		    content: "";
		    clear: both;
		    display: block;
		}
		div {
			width: 20%;
			float: left;
			padding: 10px;
			margin-bottom: 40px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			input {
				width: 100%;
				border: 1px solid #46b7ff;
				font-size: 25px;
				color: #333333;
				text-align: center;
			}
		}
	}
}