.resultado-busca {
	h2 {
		font-size: @size-35;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 42px;
	}
	h3 {
		font-size: @size-26;
		font-weight: @text-light;
		color: @color-1d5991;
	}
	h4 {
		font-size: @size-20;
		font-weight: @text-light;
		color: @color-333333;
		margin-top: 0;
	}
	p {
		font-size: @size-14;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 16px;
		margin-bottom: 10px;
	}
	.input-search {
		label {
			font-size: @size-12;
			font-weight: @text-normal;
			color: @color-626366;
			line-height: 20px;
		    padding-right: 0;
		}
		.form-control {
			border-radius: 0;
			height: 40px;
		}
	}

	ul {
		padding: 0;
		margin-bottom: 40px;
		li {
			list-style: none;
			margin-bottom: 4px;
			a {
				display: block;
				text-decoration: none;
				color: inherit;
				background-color: @color-ffffff;
				padding: 30px;
				span {
					color: #2c8ecd;
					font-size: @size-12;
					.fa {
						font-size: 15px;
						line-height: 18px;
					}
				}
				.transition(.3s);
				&:hover {
					h4, p {
						color: #888;
					}
					span {
						color: #43A6E6;
					}
				}
			}
			&.active {
				a {
					color: #2c8ecd !important;
					font-weight: 800 !important;
				}
			}
		}
	}

	.pagination {
		.screen-reader-text, .prev.page-numbers, .next.page-numbers {display: none;}
		.page-numbers {
		    display: inline-block;
		    text-decoration: none;
		    color: inherit;
		    background-color: #ffffff;
		    padding: 30px;
		    -webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;

		    padding: 5px 10px !important;
		    font-size: 14px !important;
		    font-weight: 300 !important;
		    color: #333333 !important;
		    background-color: transparent !important;
		    border: 0 !important;
		    border-right: 1px solid #d7d8d3 !important;

		    &.current {
		        color: #2c8ecd !important;
    			font-weight: 800 !important;
    		    text-decoration: underline;
		    }

		}
	}
}