@import "variables";
@import "mixins";
@import "header";
@import "forms";
@import "buttons";
@import "banner";
@import "breadcrumb";
@import "destaque";
@import "ultimas-noticias";
@import "label";
@import "footer";
@import "background";
@import "type";
@import "programas";
@import "patrocinadoras";
@import "topo";
@import "nossos-numeros";
@import "galeria-de-midia";
@import "tool-bar";
@import "jumbotron";
@import "tabs";
@import "detalhes-noticia";
@import "fale-conosco";
@import "nossa-historia";
@import "investimento";
@import "diretoria-e-conselhos";
@import "resultado-busca";
@import "pagination";
@import "midia";
@import "question";

* {
	outline: none !important;
	font-family: 'Roboto', sans-serif;
}

.hover {
	opacity: 1;
	filter: alpha(opacity=100);
	.transition(.3s);
	&:hover {
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

.img {
	width: 100%;
}

#area-participante{border: 0; width: 100%; height: 54px; overflow: hidden; }

@media (min-width: 1200px) {
	.container {
	    width: 970px;
	}
}

@media (max-width: 1200px) {
	
}

@media (max-width: 992px) {
	// Home
	.ultimas-noticias h2, .destaque h2, .programas-produtos-patrocinadoras h2 {font-size: 28px;} footer > .container > .row:last-child .eletros {min-height: 560px;}
}

@media (max-width: 768px) {
            #area-participante {
                height: 150px !important;
            }
}