.tabs {
    a {
        color: inherit;
        text-decoration: none;
    }
    &.tab-vertical {
        margin-bottom: 50px;
        .tab-col-left {
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                list-style: none;
                a {
                    min-height: 50px;
                    position: relative;
                    display: block;
                    background-color: #2566b1;
                    color: #fff;
                    padding: 15px 20px;
                    font-size: 14px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #277bb0;
                    .transition(.4s);
                    &:hover {
                        background-color: #2c8ecd;
                    }
                }
                &.active a {
                    background-color: #2c8ecd;
                }
                &:last-child {
                    a {
                        border-bottom: 0;
                    }
                }
            }
            .diver {
                width: 100%;
                height: 1px;
                background-color: #d7d8d3;
                margin: 10px 0;
            }
            .files {
                .fa {
                    float: left;
                    font-size: 22px;
                    margin-right: 10px;
                }
                p {
                    margin: 0;
                    margin-left: 30px;
                }
                p,
                .fa {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
        .tab-col-right {
            font-size: 16px;
            color: #626366;
            h3 {
                font-size: 22px;
                font-weight: bold;
                color: #2c8ecd;
                margin-bottom: 20px;
            }
            .tab-pane>h3 {
                margin-top: 0;
            }
            .icon {
                display: inline-block;
                position: relative;
                top: 2px;
            }
            p {
                margin-bottom: 10px;
            }
            i, em {
                margin-bottom: 16px;
                font-weight: 300;
                display: inline-block;
                color: #626366;
                line-height: 20px;
                margin-bottom: 8px;
            }
            em {
                margin-bottom: 0 !important;
            }
            b,
            h4>strong {
                font-weight: bold;
                color: #626366;
                font-size: 18px;
                margin-bottom: 20px;
                display: inline-block;
                em {
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    &:before {
                        content: "\e111";
                        font-family: "stamp-icons" !important;
                        font-style: normal !important;
                        font-weight: normal !important;
                        font-variant: normal !important;
                        text-transform: none !important;
                        speak: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                }
            }
            table {
                margin-bottom: 10px;
            }
            table {
                margin-top: 30px;
            }
            thead {
                background-color: #1d5a90;
                color: #ffffff;
                font-weight: 400;
                th {
                    text-align: center;
                    font-weight: 400;
                    padding: 10px;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
            tr td {
                text-align: center;
                font-size: 14px;
                color: #333333;
                padding: 13px;
                line-height: 21px;
                vertical-align: middle;
            }
            table>tbody>tr:nth-of-type(odd) {
                background-color: transparent;
            }
            table>tbody>tr:nth-of-type(even) {
                background-color: #c6c8ca;
            }
            .diver {
                width: 100%;
                height: 2px;
                background-color: #626366;
                margin-bottom: 60px;
            }
            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 2px solid #626366;
            }
        }
    }
}
