.tool-bar {
	border-bottom: 1px solid #d7d8d3;
	padding-bottom: 10px;
	font-size: 18px;
	color: #909193;
	min-height: 35px;
	margin-bottom: 25px;
	a {
		color: inherit;
		text-decoration: none;
		.hover;
	}
	.pull-left {
		a {
			margin-right: 15px;
		}
	}
	.pull-right {
		a {
			float: left;
			margin-left: 10px;
			&:after {
				content: "|";
				margin-left: 10px;
			}
			&:last-child:after {
				content: "";
				margin-left: 0;
			}
		}
	}
}