// colors
@color-ffffff:					#ffffff;
@color-e9f6ff:					#e9f6ff;
@color-1a5a8e:					#1a5a8e;
@color-c6c8ca:					#c6c8ca;
@color-626366:					#626366;
@color-505154:					#505154;
@color-d7d8d3:					#d7d8d3;
@color-2d8fce:					#2d8fce;
@color-eeeeee:					#eeeeee;
@color-2c8ecd:					#2c8ecd;
@color-1d5a90:					#1d5a90;
@color-90641d:					#90641d;
@color-555555:					#555555;
@color-777777:					#777777;
@color-999999:					#999999;
@color-5d5d5d:					#5D5D5D;
@color-333333:					#333333;
@color-072743:					#072743;
@color-051d34:					#051d34;
@color-57585a:					#57585a;
@color-d1d1d1:					#d1d1d1;
@color-e4f4ff:					#e4f4ff;
@color-21539b:					#21539b;
@color-b48ead:					#b48ead;
@color-d08770:					#d08770;
@color-ebcb8b:					#ebcb8b;
@color-96b5b4:					#96b5b4;
@color-5b90bf:					#5b90bf;
@color-22568f:					#22568f;
@color-939597:					#939597;
@color-184976:					#184976;
@color-cedbea:					#cedbea;
@color-2b88c8:					#2b88c8;
@color-9f6b95:					#9f6b95;
@color-b36e58:					#b36e58;
@color-dab771:					#dab771;
@color-78a5a4:					#78a5a4;
@color-4a80b1:					#4a80b1;
@color-1d5991: 					#1d5991;

// font-size
@size-10:						10px;
@size-12:						12px;
@size-13:						13px;
@size-14:						14px;
@size-15:						15px;
@size-16:						16px;
@size-18:						18px;
@size-20:						20px;
@size-22:						22px;
@size-25:						25px;
@size-26:						26px;
@size-28:						28px;
@size-32:						32px;
@size-35:						35px;
@size-38:						38px;
@size-45:						45px;
@size-50:						50px;

// font-weight
@text-thin:						100;
@text-light:					300;
@text-normal:					400;
@text-medium:					500;
@text-bold:						700;
@text-ultra-bold:				900;

// media queries
@screen-sm-min:					768px;
@screen-md-min:					992px;
@screen-lg-min:					1200px;