@media (max-width: 1999px) {

}

@media (max-width: 991px) {
	.menu-c li a {
		font-size: 15px;
	}

	.banner-convenio .item .container .text {
		font-size: 16px;
	}

	.conveniada img {
	    padding: 10px;
	}

	.promo .fa {
	    margin-top: 65px;
	}

	.assistido-check {
		text-align: left !important;
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) {
	.menu-c nav {
		text-align: left;
	}

	.menu-c ul {
	    display: block;
	}

	.menu-c li {
	    float: none;
	}

	.menu-c li a {
		padding: 5px 0;
		display: block;
	}

	.banner-convenio .item .container .text {
		bottom: 15px;
		width: 100%;
	}

	.menu-c li a:after {
	    display: none;
	}

	.eletros-convenio h2 {
		font-size: 34px;
	}

	.detalhe-conveniada .border-right:after {
		display: none;
	}

	.eletros-convenio .avaliacoes li .stars {
		float: left;
	}

	.eletros-convenio .avaliacoes li {
		padding: 15px;
	}

	.input-group {
		margin-bottom: 10px;
	}

	.assistido-check .checkbox.build.checkbox-inline {
	    display: block;
	    margin: 0 0 10px;
	}
}