.fale-conosco {
	h3 {
		font-size: @size-14;
		font-weight: @text-medium;
		color: @color-2c8ecd;
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top: 0;
	}
	p {
		font-size: @size-14;
		font-weight: @text-light;
		color: @color-626366;
		margin-bottom: 5px;
		b {
			font-weight: @text-medium;
		}
	}

	i {
		font-size: @size-14;
		font-weight: text-light;
		font-style: italic;
		color: @color-2c8ecd;
	}

	.form-group {
		margin-bottom: 20px;
	}

	.form-control {
		border-radius: 0;
		border-color: #c6c8ca;
	}

	.form-control:not(textarea) {
		height: 40px;
	}

	label {
		color: @color-626366;
		font-size: @size-12;
		text-transform: uppercase;
	}

	.btn {
		margin-top: 10px;
	}

	@media (min-width: 768px) {
		.form-horizontal .control-label {
	    	padding-top: 14px;
		}
	}

}