footer {
	background-color: @color-777777;
	color: @color-ffffff;
	&>.container>.row:first-child [class*="col-"] {
		padding-top: 50px;
		padding-bottom: 50px;
		&.eletros {min-height: 140px;}
	}

	&>.container>.row:last-child .eletros {
		min-height: 510px;
	}
	p {
		text-transform: uppercase;
		font-size: @size-14;
		font-weight: @text-bold;
		margin-top: 25px;
		&:first-child {
			margin-top: 0;
		}
		a {
			color: inherit;
			text-decoration: none;
			.transition(.3s);
			&:hover {
				color: @color-333333;
				text-decoration: none;
			}
		}
	}
	ul {
		margin-bottom: 25px;
		li {
			display: flex;

			&:before {
			    font-family: "stamp-icons" !important;
			    font-style: normal !important;
			    font-weight: normal !important;
			    font-variant: normal !important;
			    text-transform: none !important;
			    speak: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    content: "\e111";
			    margin-right: 5px;
			    color: @color-333333;
			}
			a {
				color: @color-ffffff;
				text-decoration: none;
				font-weight: @text-light;
				font-size: @size-14;
				text-decoration: none;
				.transition(.3s);
				&:hover {
					color: @color-333333;
					text-decoration: none;
				}
			}
		}
	}
	.eletros {
		background-color: @color-555555;
		font-size: @size-12;
		p {
			text-transform: inherit;
		}
	}
	.direitos {
		position: absolute;
		bottom: 50px;
		left: 0;
		padding: 0 15px;
		font-size: @size-10;
		color: @color-999999;
		text-transform: uppercase;
	}
	.search {
		position: relative;
		margin-bottom: 0px;
		input {
			padding-right: 30px;
		}
		[type="submit"] {
			font-size: @size-20;
			color: @color-626366;
		    position: absolute;
		    right: 12px;
		    bottom: 0;
			background: transparent;
			border: none;
			padding: 0;
			margin: 0;
		}
	}
	.redes-sociais {
		float: right;
		font-size: @size-25;
		a {
			text-decoration: none;
			color: @color-ffffff;
			.transition(.3s);
			&:hover {
				color: @color-555555;
			}
		}
	}
	.area-conselho {
		*, p {
			font-size: @size-12;
			font-weight: @text-light;
			text-transform: inherit;
			margin-top: 0;
		}
		p.blue {
			text-transform: uppercase;
			font-size: @size-14;
			font-weight: @text-bold;			
			color: @color-072743;
		}
		form {
			border-bottom: 1px solid @color-57585a;
			padding-bottom: 35px;
			margin-bottom: 30px;
		}
		.form-group {
			margin: 10px 0;
			a {
				font-size: @size-10;
				color: @color-c6c8ca;
			}
		}
		.links img {
			margin-bottom: 15px;
			.hover;
		}
	}
}