header {
	.header-top {
		background-color: @color-e9f6ff;
		padding: 12px 0;
		label {
			font-size: @size-14;
			color: @color-1a5a8e;
			font-weight: @text-bold;
			margin-right: 25px;
		}
		.form-group {
			margin-right: 30px;
			.form-control {
			    width: 125px;
			}
		}
		.btn {
			width: 125px;
		}
	}
	.header-bottom {
		padding: 20px 0 35px;
		background-color: @color-ffffff;
		border-bottom: 1px solid #ccc;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.form-group {
			float: left;
			margin-bottom: 0;
			.form-control {
				padding-right: 29px;
			}
			.icon-basic-magnifier {
				font-size: @size-20;
				color: @color-626366;
				position: absolute;
			    right: 12px;
			    bottom: 6px;
			}
		}
		nav {
			position: relative;
		}
		.menu-a {
			position: absolute;
			right: 0;
			bottom: -16px;
			ul {
				float: left;
				padding: 0;
				margin: 0;
				margin-right: 25px;
				position: relative;
				top: 7px;
				li {
					float: left;
					&:after {
						content: "|";
						color: @color-d7d8d3;
						font-size: 20px;
						position: relative;
						top: 1px;
					}
					&:last-child:after {
						content: "";
					}
					a {
						font-size: @size-12;
						color: @color-1d5a90;
						text-transform: uppercase;
						text-decoration: none;
						padding: 0 10px;
						font-weight: @text-bold;
						.hover;
					}
				}
			}
		}
		.menu-b {
			position: absolute;
			bottom: -94px;
			left: 0;
			width: 100%;
			z-index: 2;
			&>li {
				list-style: none;
				float: left;
				color: @color-ffffff;
				font-size: @size-18;
				width: 25%;
				text-align: center;
				position: relative;
				&>a {
					display: block;
					color: inherit;
					text-decoration: none !important;
					padding: 17px;
					font-weight: @text-light;
				}
				&:nth-child(1) {
					background-color: rgba(37,102,177,0.85);
					&>ul {
						border-color: rgba(37,102,177,0.85);
					}
				}
				&:nth-child(2) {
					background-color: rgba(44,142,205,0.85);
					&>ul {
						border-color: rgba(44,142,205,0.85);
					}
				}
				&:nth-child(3) {
					background-color: rgba(29,90,144,0.85);
					&>ul {
						border-color: rgba(29,90,144,0.85);
					}
				}
				&:nth-child(4) {
					background-color: rgba(7, 39, 67, 0.85);
					&>ul {
						border-color: rgba(7, 39, 67, 0.85);
					}
				}

				&>ul {
					display: none;
					background-color: rgba(255, 255, 255, 0.85);
					position: absolute;
				    z-index: 3 !important;
					left: 0;
					width: 100%;
					border: 4px solid transparent;
					border-top: 0;
					padding: 0 18px;
					&>li {
						border-bottom: 1px solid @color-d7d8d3;
						a {
						    display: block;
						    text-decoration: none;
						    font-size: @size-15;
						    color: @color-22568f;
						    padding: 10px 0;
						  	&:hover {
						  		background-color: @color-cedbea;
						  	}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 992px) {
	// Header
	header {.logo {width: 70%;} .menu-a a {font-size: 10px !important;} }

	// menu mobile
	header .header-bottom .menu-b {
	    position: relative;
	    top: 36px;
	}

	header .header-bottom .menu-b > li {
		width: 100%;
	}

	header .header-bottom .menu-b > li > a {
		padding: 8px;
	}

	header .header-bottom .menu-b > li > ul {
		position: initial;
		padding: 0;
	}

	header .header-bottom .menu-b > li > ul > li,
	header .header-bottom .menu-b > li > ul > li:last-child {
		float: none;
		width: 100%;
    	border-bottom: 1px solid #e1e1e1;
    	padding: 8px 0;
	}

	header .header-bottom .menu-b > li > ul > li:last-child {
		border-bottom: none;
	}

	header .header-bottom .menu-b > li > ul > li a {
	    width: 150px;
	    margin: 0 auto;
	    display: block;
	}

	header .header-bottom .menu-b > li > ul > li > ul {
		display: none;
	}

}

header {
		i.fa.fa-bars {
		display: none;
	}
}

@media (max-width: 768px) {
	// Header
	header .area-participante {float: none !important;}
	header .header-top .form-group {margin-right: 0; }
	header .form-inline label {display: block; width: 100%;}
	header .header-top .form-group .form-control {width: 100%;}
	header .header-top .btn {width: 100%;}
	header .header-bottom .menu-b {position: inherit; bottom: 0;}
	header .header-bottom .menu-a {position: inherit;}
	header .header-bottom .left, header .header-bottom .right {float: none;}
	header .logo {width: inherit; margin: 0 auto;}
	header .header-bottom .form-group {float: none; margin: 15px 0;}
	header .header-bottom .form-group .icon-basic-magnifier {right: 28px;}
	header .header-bottom .menu-b {padding: 0; margin: 0;}

header {
		i.fa.fa-bars {
		display: block;
	}
}
	header .fa.fa-bars {
		position: absolute;
	    right: 15px;
	    top: 0px;
	    font-size: 30px;
	    cursor: pointer;
	    color: #195B8D;
	}
	header .menu-a ul {
		display: none;
		top: 0 !important;
		right: 0 !important;
		margin: 0 !important;
		padding: 15px !important;
		background-color: @color-ffffff !important;
		border-top: 1px solid #ccc !important;
		border-bottom: 1px solid #ccc !important;
		width: 100%;
		height: auto;
		margin: 20px 0 !important;
		float: none !important;
		li {
			float: none !important;
			text-align: center;
		}
	}

	header .header-bottom .menu-a ul li:after {
		content: "" !important;
	}

}