.investimentos {
	h2 {
		margin-top: 0;
		margin-bottom: 40px;
		font-size: @size-26;
		color: @color-2b88c8;
		font-weight: @text-light;
		line-height: 32px;
	}
	p {
		font-size: @size-16;
		font-weight: @text-light;
		color: @color-626366;
		line-height: 25px;
		margin-bottom: 0;
	}
}