.jumbotron {
	background-color: #fff;
	padding: 30px !important;
	h2 {
		font-size: 20px;
		color: #2b88c8;
		font-weight: 300;
		line-height: 29px;
		margin: 0 0 10px;
	}
	.diver {
		width: 48px;
		height: 1px;
		background-color: #2566b1;
		margin-bottom: 10px;
		margin-top: 25px;
	}
	p {
		font-size: 14px;
		color: #626366;
		font-weight: 400;
		margin: 0;
	}
}