.label {
	background-color: #ccc;
	padding: 5px 10px;
	border-radius: 0;
	font-size: @size-12;
	color: @color-ffffff;
	text-transform: uppercase;
	.transition(.3s);
}

.label.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.label.espaco-eletros {
	background-color: @color-1d5a90;
}
.label.financas {
   background-color: @color-90641d;
}

a:hover {
	.label.espaco-eletros {
		background-color: #12385A;
	}
	.label.financas {
	   background-color: #5C4013;
	}
}