.nossos-numeros {
    h2 {
        font-size: @size-25;
        font-weight: @text-light;
        color: @color-21539b;
        margin-top: 50px;
    }
    h3 {
        font-size: @size-22;
        font-weight: @text-light;
        color: @color-626366;
        margin-bottom: 20px;
        margin-top: 0;
    }
    h4 {
        font-size: @size-25;
        font-weight: @text-normal;
        color: @color-626366;
        margin: 70px 0 0;
    }
    .bg-ffffff ul li div:last-child {
        background-color: @color-eeeeee;
    }
    .titulo {
        min-height: 135px;
    }
    .mes-referencia {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: @size-16;
        font-weight: @text-light;
        text-align: center;
        p {
            color: @color-21539b;
            padding: 8px 20px;
        }
        div {
            color: @color-ffffff;
            background-color: @color-21539b;
            padding: 7px 20px;
        }
    }
    .item {
        margin-bottom: 60px;
    }
    .chart {
        margin-top: 60px;
    }
    ul {
        margin-bottom: 8px;
        li {
            margin-bottom: 2px;
            div:first-child {
                background-color: @color-ffffff;
                float: left;
                width: 68%;
                font-size: 14px;
                font-weight: @text-bold;
                color: @color-ffffff;
                padding: 8px 6px;

            }
            div:last-child {
                background-color: @color-ffffff;
                width: 32%;
                height: 100%;
                float: left;
                text-align: center;
                font-size: @size-25;
                font-weight: @text-light;
                color: @color-626366;
            }
            &:nth-child(1) div:first-child {
                background-color: @color-9f6b95;
            }
            &:nth-child(2) div:first-child {
                background-color: @color-b36e58;
            }
            &:nth-child(3) div:first-child {
                background-color: @color-dab771;
            }
            &:nth-child(4) div:first-child {
                background-color: @color-78a5a4;
            }
            &:nth-child(5) div:first-child {
                background-color: @color-4a80b1;
            }
        }
        &.participantes-ativos {
            li {
                height: 36px;
            }
        }
        &.participantes-assistidos {
            li {
                height: 56px;
                div:first-child {
                    background-color: #939597 !important; 
                }
                div:last-child {
                    line-height: 56px;
                }
                &:first-child{
                    div:first-child {
                        line-height: 40px;
                    }
                }
                &:last-child{
                    div:first-child {

                        background-color: @color-626366 !important;
                    }
                }
            }
        }
    }
    .total {
        background-color: @color-333333;
        color: @color-ffffff;
        height: 45px;
        margin-bottom: 30px;
        div {
            float: left;
            &:first-child {
                font-size: @size-25;
                font-weight: @text-bold;
                padding: 5px 10px;
            }
            &:last-child {
                padding: 3px 0;
            }
        }
    }

    /* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		h2 {float: left; font-size: @size-38;}
		h3 { font-size: @size-28;}
		h4 {font-size: @size-35;}
		.mes-referencia {float: right; margin-bottom: 0;}
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {

	}
}
