.nossos-historia {
	.background {
		background-size: 100% auto;
		padding-top: 20px;
	}
	h2 {
		font-size: @size-38;
		color: @color-1d5a90;
		font-weight: @text-thin;
		margin-top: 0;
		margin-bottom: 20px;
	}
	h3 {
		font-size: @size-26;
		color: @color-626366;
		font-weight: @text-thin;
		line-height: 30px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		line-height: 23px;
		font-size: @size-14;
		color: @color-626366;
		font-weight: @text-light;
		margin-top: 0;
	}
	img {
		margin: 0 auto;
	}
}