.pagination {
	padding: 0;
	margin-top: 0;
	li {
		list-style: none;
		margin: 0;
		a {
			padding: 5px 10px !important;
			font-size: 14px !important;
			font-weight: 300 !important;
			color: #333333 !important;
			    background-color: transparent !important;
    border: 0 !important;
    border-right: 1px solid #d7d8d3 !important;
		}
		&.active a {
		    color: #2c8ecd !important;
		    font-weight: 800 !important;
		    text-decoration: underline;
		}
	}
}