.programas {

	.box-programas-1 {
		padding-bottom: 30px;
		border-bottom: 1px solid #d1d1d1;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
		}
		a {
			color: inherit;
			text-decoration: none;
			// border: 1px solid @color-d1d1d1;
			display: block;
			height: 100px;
		}
		img {
			margin: 0 auto;
		    width: auto;
		    max-height: 66px;
			position: relative;
			top: 50%;
			transform:  translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
		}
	}
	.box-programas-2 {
		margin-top: 50px;
	    max-width: 200px;
	    margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
			background-color: @color-ffffff;
			padding: 0 10px;
		    margin-top: 40px;
		    border-radius: 3px;
			a {
				color: inherit;
				text-decoration: none;
				display: block;
				height: 85px;
				position: relative;
			}

			img {
				
				margin: 0 auto;
			    width: auto;
			    max-height: 80px;
				position: relative;
				top: 50%;
				transform:  translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
			}
		}	
	}
}