@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "forms.less";
@import "buttons.less";
@import "banner.less";
@import "breadcrumb.less";
@import "destaque.less";
@import "ultimas-noticias.less";
@import "label.less";
@import "footer.less";
@import "background.less";
@import "type.less";
@import "programas.less";
@import "patrocinadoras.less";
@import "topo.less";
@import "nossos-numeros.less";
@import "galeria-de-midia.less";
@import "tool-bar.less";
@import "jumbotron.less";
@import "tabs.less";
@import "detalhes-noticia.less";
@import "fale-conosco.less";
@import "nossos-historia.less";
@import "investimento.less";
@import "diretoria-e-conselhos.less";
@import "resultado-busca.less";
@import "pagination.less";
@import "midia.less";
@import "question.less";

* {
    outline: none !important;
    font-family: 'Roboto', sans-serif;
}

.hover {
    opacity: 1;
    filter: alpha(opacity=100);
    .transition(.3s);
    &:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.img {
    width: 100%;
}

#area-participante{border: 0; width: 100%; height: 54px; overflow: hidden; }

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    // Home
    .ultimas-noticias h2, .destaque h2, .programas-produtos-patrocinadoras h2 {font-size: 28px;} footer > .container > .row:last-child .eletros {min-height: 560px;}
}

@media (max-width: 768px) {
            #area-participante {
                height: 150px !important;
            }
}