/*
Theme Name: Eletros
Theme URI: https://dizain.com.br
Author: Dizain team
Author URI: https://dizain.com.br
Description:  Tema desenvolvido para Eletros.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: eletros

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

hr {
    border-color: #d7d8d3;
    margin: 10px 0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

img.thumbnail {
    display: inherit !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    line-height: inherit !important;
    background-color: inherit !important;
    border: inherit !important;
    border-radius: inherit !important;
    -webkit-transition: inherit !important;
    -o-transition: inherit !important;
    transition: inherit !important;
}

header .header-top {
    background-color: #e9f6ff;
    padding: 12px 0;
}

header .header-top label {
    font-size: 14px;
    color: #1a5a8e;
    font-weight: 700;
    margin-right: 25px;
}

header .header-top .form-group {
    margin-right: 30px;
}

header .header-top .form-group .form-control {
    width: 125px;
}

header .header-top .btn {
    width: 125px;
}

header .header-bottom {
    padding: 20px 0 35px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

header .header-bottom .left {
    float: left;
}

header .header-bottom .right {
    float: right;
}

header .header-bottom .form-group {
    float: left;
    margin-bottom: 0;
}

header .header-bottom .form-group .form-control {
    padding-right: 29px;
}

header .header-bottom .form-group .icon-basic-magnifier {
    font-size: 20px;
    color: #626366;
    position: absolute;
    right: 12px;
    bottom: 6px;
}

header .header-bottom nav {
    position: relative;
}

header .header-bottom .menu-a {
    position: absolute;
    right: 0;
    bottom: -16px;
}

header .header-bottom .menu-a ul {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 25px;
    position: relative;
    top: 7px;
}

header .header-bottom .menu-a ul li {
    float: left;
}

header .header-bottom .menu-a ul li:after {
    content: "|";
    color: #d7d8d3;
    font-size: 20px;
    position: relative;
    top: 1px;
}

header .header-bottom .menu-a ul li:last-child:after {
    content: "";
}

header .header-bottom .menu-a ul li a {
    font-size: 12px;
    color: #1d5a90;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 700;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .header-bottom .menu-a ul li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

header .header-bottom .menu-b {
    position: absolute;
    bottom: -91px;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .header-bottom .menu-b > li {
    list-style: none;
    float: left;
    color: #ffffff;
    font-size: 18px;
    width: 25%;
    text-align: center;
    position: relative;
}

header .header-bottom .menu-b > li > a {
    display: block;
    color: inherit;
    text-decoration: none !important;
    padding: 18px 15px 12px;
    font-weight: 300;
}

header .header-bottom .menu-b > li:nth-child(1) {
    background-color: rgba(37, 102, 177, 0.85);
}

header .header-bottom .menu-b > li:nth-child(1) > ul {
    border-color: rgba(37, 102, 177, 0.85);
}

header .header-bottom .menu-b > li:nth-child(2) {
    background-color: rgba(44, 142, 205, 0.85);
}

header .header-bottom .menu-b > li:nth-child(2) > ul {
    border-color: rgba(44, 142, 205, 0.85);
}

header .header-bottom .menu-b > li:nth-child(3) {
    background-color: rgba(29, 90, 144, 0.85);
}

header .header-bottom .menu-b > li:nth-child(3) > ul {
    border-color: rgba(29, 90, 144, 0.85);
}

header .header-bottom .menu-b > li:nth-child(4) {
    background-color: rgba(7, 39, 67, 0.85);
}

header .header-bottom .menu-b > li:nth-child(4) > ul {
    border-color: rgba(7, 39, 67, 0.85);
}

header .header-bottom .menu-b > li > ul {
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 3 !important;
    left: 0;
    width: 100%;
    border: 4px solid transparent;
    border-top: 0;
    padding: 0 18px;
}

header .header-bottom .menu-b > li > ul > li {
    border-bottom: 1px solid #d7d8d3;
}

header .header-bottom .menu-b > li > ul > li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #22568f;
    padding: 10px 0;
}

header .header-bottom .menu-b > li > ul > li a:hover {
    background-color: #cedbea;
}

@media (max-width: 992px) {
    header .logo {
        width: 70%;
    }
    header .menu-a a {
        font-size: 10px !important;
    }
    header .header-bottom .menu-b {
        position: relative;
        top: 36px;
    }
    header .header-bottom .menu-b > li {
        width: 100%;
    }
    header .header-bottom .menu-b > li > a {
        padding: 8px;
    }
    header .header-bottom .menu-b > li > ul {
        position: initial;
        padding: 0;
    }
    header .header-bottom .menu-b > li > ul > li,
    header .header-bottom .menu-b > li > ul > li:last-child {
        float: none;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        padding: 8px 0;
    }
    header .header-bottom .menu-b > li > ul > li:last-child {
        border-bottom: none;
    }
    header .header-bottom .menu-b > li > ul > li a {
        width: 150px;
        margin: 0 auto;
        display: block;
    }
    header .header-bottom .menu-b > li > ul > li > ul {
        display: none;
    }
}

@media (min-width: 992px){
    header .header-bottom .menu-b > li> ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        /*height: 0;*/
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    header .header-bottom .menu-b > li:hover ul {
        max-height: 500px;
        background-color: rgba(255, 255, 255, 0.85);
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

header i.fa.fa-bars {
    display: none;
}

@media (max-width: 768px) {
    header .area-participante {
        float: none !important;
    }
    header .header-top .form-group {
        margin-right: 0;
    }
    header .form-inline label {
        display: block;
        width: 100%;
    }
    header .header-top .form-group .form-control {
        width: 100%;
    }
    header .header-top .btn {
        width: 100%;
    }
    header .header-bottom .menu-b {
        position: inherit;
        bottom: 0;
    }
    header .header-bottom .menu-a {
        position: inherit;
    }
    header .header-bottom .left,
    header .header-bottom .right {
        float: none;
    }
    header .logo {
        width: inherit;
        margin: 0 auto;
    }
    header .header-bottom .form-group {
        float: none;
        margin: 15px 0;
    }
    header .header-bottom .form-group .icon-basic-magnifier {
        right: 28px;
    }
    header .header-bottom .menu-b {
        padding: 0;
        margin: 0;
    }
    header i.fa.fa-bars {
        display: block;
    }
    header .fa.fa-bars {
        position: absolute;
        right: 15px;
        top: 0px;
        font-size: 30px;
        cursor: pointer;
        color: #195B8D;
    }
    header .menu-a ul {
        display: none;
        top: 0 !important;
        right: 0 !important;
        margin: 0 !important;
        padding: 15px !important;
        background-color: #ffffff !important;
        border-top: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
        width: 100%;
        height: auto;
        margin: 20px 0 !important;
        float: none !important;
    }
    header .menu-a ul li {
        float: none !important;
        text-align: center;
    }
    header .header-bottom .menu-a ul li:after {
        content: "" !important;
    }
}

.form-control {
    box-shadow: none;
    border-color: #c6c8ca;
    border-radius: 2px;
    color: #626366;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
}

textarea {
    resize: none;
}

.form-group.input-search label {
    font-size: 12px;
    font-weight: 400;
    color: #626366;
    line-height: 20px;
    padding-right: 0;
}

.form-group.input-search .form-control {
    border-radius: 0;
    height: 40px;
}

.btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default {
    border-radius: 2px;
    border-bottom: 3px solid #ccc;
}

.btn-gray-1 {
    color: #ffffff !important;
    background-color: #626366;
    border-radius: 2px;
    border-bottom: 3px solid #505154;
}

.btn-gray-1:hover {
    color: #ffffff;
    background-color: #505154;
}

.btn-blue-1 {
    color: #ffffff !important;
    background-color: #072743;
    border-radius: 2px;
    border-bottom: 3px solid #051d34;
}

.btn-blue-1:hover {
    color: #ffffff;
    background-color: #051d34;
}

.btn-blue-2 {
    color: #ffffff !important;
    background-color: #1d5a90;
    border-radius: 2px;
    border-bottom: 3px solid #184976;
}

.btn-blue-2:hover {
    color: #ffffff;
    background-color: #184976;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 4px 10px;
}

.btn-pdf {
    width: 204px;
    min-height: 70px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #c6c8ca;
    border-radius: 3px;
    color: #000;
    background-image: url(img/pdf.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 68px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #626366;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    padding-top: 15px;
    line-height: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-pdf:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: #626366;
    text-decoration: none;
}

#bannerHome .item {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bannerHome .container {
    position: relative;
}

#bannerHome .carousel-indicators {
    bottom: 5px;
    left: inherit;
    width: auto;
    right: 0;
    z-index: 1;
}

#bannerHome .carousel-indicators li {
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#bannerHome .carousel-indicators .active {
    background-color: #2d8fce;
    border-color: #2d8fce;
}

#bannerHome .item [class*="col-"] {
    height: 175px;
}

#bannerHome .box-text {
    background-color: rgba(98, 99, 102, 0.8);
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

#bannerHome .box-text p {
    font-size: 20px;
    color: #ffffff;
}

#bannerHome .carousel-inner .item {
    transition-property: opacity;
    
}

#bannerHome .carousel-inner .item img {
    display: none;
}

#bannerHome .carousel-inner .item,
#bannerHome .carousel-inner .active.left,
#bannerHome .carousel-inner .active.right {
    opacity: 0;
}

#bannerHome .carousel-inner .active,
#bannerHome .carousel-inner .next.left,
#bannerHome .carousel-inner .prev.right {
    opacity: 1;
}

#bannerHome .carousel-inner .next,
#bannerHome .carousel-inner .prev,
#bannerHome .carousel-inner .active.left,
#bannerHome .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#bannerHome .carousel-control {
    z-index: 2;
}

.breadcrumb {
    height: 0;
    background-color: transparent;
}

.breadcrumb .container {
    margin-top: 2px;
}

.breadcrumb .icon {
    float: left;
    color: #626366;
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.breadcrumb ul {
    padding: 0;
    margin: 0;
}

.breadcrumb ul li {
    float: left;
    color: #626366;
    font-size: 12px;
    text-transform: uppercase;
    cursor: default;
}

.breadcrumb ul li a {
    color: inherit;
    text-decoration: none;
}

.breadcrumb ul li a:after {
    content: "/";
    padding: 0 5px;
}

.breadcrumb ul li:last-child a:after {
    content: "";
}

.breadcrumb ul li:hover {
    color: #1d5a90;
}

.breadcrumb ul li:last-child:hover {
    color: #626366;
}

.breadcrumb ul li strong {
    font-weight: inherit;
}

.destaque .box-destaque {
    position: relative;
    margin-bottom: 30px;
    background-color: #eeeeee;
}

.destaque .box-destaque img {
    width: 100%;
}

.destaque .box-destaque a {
    text-decoration: none;
    color: inherit;
}

.destaque .box-destaque .text {
    padding: 10px 20px;
    color: #626366;
    font-size: 18px;
    font-weight: 700;
    height: 127px;
    position: relative;
}

.destaque .box-destaque .link {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 12px;
    color: #2c8ecd;
    text-transform: uppercase;
    text-decoration: none;
}

.destaque .box-destaque .link .fa {
    font-size: 14px;
}

.destaque .box-destaque.espaco-eletros {
    background-color: #1d5a90;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.destaque .box-destaque.espaco-eletros .label {
    background-color: #1d5a90;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.destaque .box-destaque.espaco-eletros *,
.destaque .box-destaque * {
    color: #fff !important;
}

.destaque .box-destaque.espaco-eletros:hover {
    background-color: #12385A;
}

.destaque .box-destaque.espaco-eletros:hover .label {
    background-color: #12385A;
}

.destaque .box-destaque.financas {
    background-color: #90641d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.destaque .box-destaque.financas .label {
    background-color: #90641d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.destaque .box-destaque.financas * {
    color: #fff;
}

.destaque .box-destaque.financas:hover {
    background-color: #5C4013;
}

.destaque .box-destaque.financas:hover .label {
    background-color: #5C4013;
}

.ultimas-noticias h2,
.noticias h2 {
    font-size: 32px;
    color: #626366;
    font-weight: 700;
    margin: 0;
}

.ultimas-noticias a:not(.btn),
.noticias a:not(.btn) {
    color: inherit;
    text-decoration: none;
    display: block;
    min-height: 140px;
    padding: 30px 0;
}

.ultimas-noticias li,
.noticias li {
    font-size: 14px;
    position: relative;
    color: #626366;
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.noticias li:first-child {
    border-top: 1px solid #d1d1d1;
}

.ultimas-noticias li:last-child,
.noticias li:last-child {
    border: 0;
}

.ultimas-noticias li:hover,
.noticias li:hover {
    color: #444;
}

.ultimas-noticias li:hover .link,
.noticias li:hover .link {
    color: #1d5a90;
}

.ultimas-noticias .link,
.noticias .link {
    margin-top: 10px;
    font-size: 12px;
    color: #2c8ecd;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ultimas-noticias .link .fa,
.noticias .link .fa {
    font-size: 14px;
}

.ultimas-noticias .box-label,
.noticias .box-label {
    margin-bottom: 10px;
}

.ultimas-noticias .label,
.noticias .label {
    position: relative;
}

.ultimas-noticias  .btn.btn-gray-1.btn-block.text-uppercase {
    margin-bottom: 50px;
}

.label {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.label.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.label.espaco-eletros {
    background-color: #1d5a90;
}

.label.financas {
    background-color: #90641d;
}

a:hover .label.espaco-eletros {
    background-color: #12385A;
}

a:hover .label.financas {
    background-color: #5C4013;
}

footer {
    background-color: #777777;
    color: #ffffff;
}

footer > .container > .row:first-child [class*="col-"] {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer > .container > .row:first-child [class*="col-"].eletros {
    min-height: 140px;
}

footer > .container > .row:last-child .eletros {
    min-height: 510px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
}

footer p:first-child {
    margin-top: 0;
}

footer p a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer p a:hover {
    color: #333333;
    text-decoration: none;
}

footer ul {
    margin-bottom: 25px;
}

footer ul li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    color: #ffffff;
    margin-bottom: 10px;
    display: inline-block;
}

footer ul li > a:hover {
    color: #333333;
}

footer ul li > ul > li > a {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    text-transform: inherit;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer ul li > ul > li > a:hover {
    color: #333333;
    text-decoration: none;
}

footer ul li > ul > li > a:before {
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e111";
    margin-right: 5px;
    color: #333333;
}

footer .eletros {
    background-color: #555555;
    font-size: 12px;
}

footer .eletros p {
    text-transform: inherit;
}

footer .direitos {
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 0 15px;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
}

footer .search {
    position: relative;
    margin-bottom: 0px;
}

footer .search input {
    padding-right: 30px;
}

footer .search [type="submit"] {
    font-size: 20px;
    color: #626366;
    position: absolute;
    right: 12px;
    bottom: 0;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

footer .redes-sociais {
    float: right;
    font-size: 25px;
}

footer .redes-sociais a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer .redes-sociais a:hover {
    color: #555555;
}

footer .area-conselho *,
footer .area-conselho p {
    font-size: 12px;
    font-weight: 300;
    text-transform: inherit;
    margin-top: 0;
}
footer .area-conselho a {
    color: inherit;
}
#area-conselho-rodape-aviso {
    background: #eee none repeat scroll 0 0;
    border: 2px solid #072743;
    color: #072743;
    padding: 10px;
}
footer .area-conselho p.blue {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #072743;
}

footer .area-conselho form {
    border-bottom: 1px solid #57585a;
    padding-bottom: 35px;
    margin-bottom: 30px;
}

footer .area-conselho .form-group {
    margin: 10px 0;
}

footer .area-conselho .form-group a {
    font-size: 10px;
    color: #c6c8ca;
}

footer .area-conselho .links img {
    margin-bottom: 15px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer .area-conselho .links img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bg-eeeeee {
    background-color: #eeeeee;
}

.bg-e4f4ff {
    background-color: #e4f4ff;
}

.bgbg-ffffff {
    background-color: #ffffff;
}

.listras div.df:nth-child(odd){
    background-color: #e4f4ff;
}
.listras div.df:nth-child(even){
    background-color: #ffffff;
} 

.cl-626366 {
    color: #626366;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #626366;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 0;
}

.programas .box-programas-1 {
    padding: 70px 0 30px 0;
}

.programas .box-programas-1 ul {
    margin: 0;
    padding: 0;
}

.programas .box-programas-1 li {
    list-style: none;
    margin-bottom: 10px;
}

.programas .box-programas-1 a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100px;
}

.programas .box-programas-1 img {
    margin: 0 auto;
    width: auto;
    max-height: 66px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.programas .box-programas-2 {
    margin-top: 50px;
    max-width: 200px;
    margin: 0 auto;
}

.programas .box-programas-2 ul {
    margin: 0;
    padding: 0;
}

.programas .box-programas-2 li {
    list-style: none;
    background-color: #ffffff;
    padding: 0 10px;
    margin-top: 40px;
    border-radius: 3px;
}

.programas .box-programas-2 li a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 85px;
    position: relative;
}

.programas .box-programas-2 li img {
    margin: 0 auto;
    width: auto;
    max-height: 80px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.patrocinadoras {
    background-color: #ffffff;
    /* Small devices (tablets, 768px and up) */
    /* Medium devices (desktops, 992px and up) */
}

.patrocinadoras .box-patrocinadoras {
    min-height: 72px;
    position: relative;
    margin: 5px 0 30px 0;
    border-right: 1px solid #d1d1d1;
}

.patrocinadoras .box-patrocinadoras a {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 30px;
}

.patrocinadoras .box-patrocinadoras .content p a {
    color: inherit;
}

.patrocinadoras .box-patrocinadoras .content p a.link {
    color: #337ab7;
}

.patrocinadoras .box-patrocinadoras .content p a.link:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f138";
    margin-left: 5px;
}

.patrocinadoras .box-patrocinadoras .link {
    color: #337ab7;
}

.patrocinadoras .box-patrocinadoras {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;    
}

.patrocinadoras .box-patrocinadoras:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.patrocinadoras .programas h2 {
    font-size: 32px !important;
    color: #626366 !important;
    font-weight: 700 !important;
}

@media (min-width: 768px) {
    .patrocinadoras .box-patrocinadoras a {
        margin-right: 12px;
        display: inline-block;
    }
    .patrocinadoras .box-patrocinadoras a:last-child {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .patrocinadoras .box-patrocinadoras a {
        margin-right: 67px;
    }

    .patrocinadoras.patrocinadoras-home .box-patrocinadoras a {
        margin: 0;
    }

}

.topo .container {
    position: relative;
}

.topo .content {
    height: 180px;
}

.topo .text {
    position: absolute;
    bottom: 0;
}

.topo h1 {
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 50px;
}

@media (max-width: 768px){
    .topo .content {
        height: auto;
    }
    .topo .text {
        position: relative;
    }
    .topo h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

.nossos-numeros {
    /* Small devices (tablets, 768px and up) */
    /* Medium devices (desktops, 992px and up) */
}

.nossos-numeros h2 {
    font-size: 25px;
    font-weight: 300;
    color: #21539b;
    margin-top: 50px;
}

.nossos-numeros h3 {
    font-size: 22px;
    font-weight: 300;
    color: #626366;
    margin-bottom: 20px;
    margin-top: 0;
}

.nossos-numeros h4 {
    font-size: 25px;
    font-weight: 400;
    /*color: #626366;*/
    color: #fff;
    margin: 0;
    background-color: #b6b8bb;
    padding: 9px;
    text-align: center;
}

.nossos-numeros .bg-ffffff ul li div:last-child {
    background-color: #eeeeee;
}

.nossos-numeros .titulo {
    min-height: 135px;
}

.nossos-numeros .mes-referencia {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.nossos-numeros .mes-referencia p {
    color: #21539b;
    padding: 8px 20px;
}

.nossos-numeros .mes-referencia div {
    color: #ffffff;
    background-color: #21539b;
    padding: 7px 20px;
}

.nossos-numeros .item {
    margin-bottom: 60px;
}

.nossos-numeros .chart {
    margin-top: 60px;
}

.nossos-numeros ul {
    margin-bottom: 8px;
}

.nossos-numeros ul li {
    margin-bottom: 2px;
}

.nossos-numeros ul li div:first-child {
    background-color: #ffffff;
    float: left;
    width: 68%;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 8px 6px;
    line-height: 40px;
    position: relative;
}

.nossos-numeros ul li div:first-child>span {
    position: relative;
    z-index: 2;
}

.nossos-numeros ul li div:first-child .percent {
    background-color: rgba(0, 0, 0, 0.3) !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nossos-numeros ul li div:last-child {
    background-color: #ffffff;
    width: 32%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #626366;
    line-height: 60px;
}

.nossos-numeros ul li:nth-child(1) div:first-child {
    background-color: #9f6b95;
}

.nossos-numeros ul li:nth-child(2) div:first-child {
    background-color: #b36e58;
}

.nossos-numeros ul li:nth-child(3) div:first-child {
    background-color: #dab771;
}

.nossos-numeros ul li:nth-child(4) div:first-child {
    background-color: #78a5a4;
}

.nossos-numeros ul li:nth-child(5) div:first-child {
    background-color: #4a80b1;
}

.nossos-numeros ul.participantes-ativos li,
.nossos-numeros ul.participantes-assistidos li {
    height: 56px;
}

.nossos-numeros ul.participantes-assistidos li div:first-child {
    background-color: #939597 !important;
}

.nossos-numeros ul.participantes-assistidos li div:last-child {
    line-height: 56px;
}

.nossos-numeros ul.participantes-assistidos li:first-child div:first-child {
    line-height: 40px;
}

.nossos-numeros ul.participantes-assistidos li:last-child div:first-child {
    background-color: #626366 !important;
    line-height: 20px;
}

.nossos-numeros .total {
    background-color: #fff;
    color: #ffffff;
    height: 56px;
    margin-bottom: 30px;
}

.nossos-numeros .total div {
    float: left;
}

.nossos-numeros .total div:first-child {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    padding: 5px 10px;
    width: 68%;
    background-color: #333;
}

.nossos-numeros .total div:last-child {
    padding: 3px 0;
    font-size: 25px;
    line-height: 49px;
    color: #626366;

    background-color: #ffffff;
    width: 32%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #626366;
    line-height: 60px;
}

.nossos-numeros .total-geral {
    background-color: #21539b;
}

.nossos-numeros .total-geral h4 {
    color: #fff;
    margin: 30px 0;
    text-align: center;
    background-color: transparent;
}

@media (min-width: 768px) {
    .nossos-numeros h2 {
        float: left;
        font-size: 38px;
    }
    .nossos-numeros h3 {
        font-size: 28px;
    }
    .nossos-numeros h4 {
        font-size: 35px;
    }
    .nossos-numeros .mes-referencia {
        float: right;
        margin-bottom: 0;
    }
    .nossos-numeros canvas {
        max-width: 100% !important;
        height: auto !important; 
    }
}

.galeria-de-midia {
    background-color: #e0e2e3;
    padding: 10px 0 30px;
}

.galeria-de-midia .slide {
    position: relative;
    padding: 0 30px;
}

.galeria-de-midia i.fa.fa-chevron-circle-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    color: #1d5a90;
    margin-top: -15px;
}

.galeria-de-midia i.fa.fa-chevron-circle-right {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 30px;
    color: #1d5a90;
    margin-top: -15px;
}

.galeria-de-midia .bx-pager-item .bx-pager-link {
    display: none;
}

.galeria-de-midia i.fa {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.galeria-de-midia i.fa:hover {
    color: #133B5E;
}

.tool-bar {
    border-bottom: 1px solid #d7d8d3;
    padding-bottom: 10px;
    font-size: 18px;
    color: #909193;
    min-height: 35px;
    margin-bottom: 25px;
}

.tool-bar a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tool-bar a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.tool-bar .pull-left a {
    margin-right: 15px;
}

.tool-bar .pull-right a {
    float: left;
    margin-left: 10px;
}

.tool-bar .pull-right a:after {
    content: "|";
    margin-left: 10px;
}

.tool-bar .pull-right a:last-child:after {
    content: "";
    margin-left: 0;
}

.jumbotron {
    background-color: #fff;
    padding: 30px !important;
}

.jumbotron h2 {
    font-size: 20px;
    color: #2b88c8;
    font-weight: 300;
    line-height: 29px;
    margin: 0 0 10px;
}

.jumbotron .diver {
    width: 48px;
    height: 1px;
    background-color: #2566b1;
    margin-bottom: 10px;
    margin-top: 25px;
}

.jumbotron p {
    font-size: 14px;
    color: #626366;
    font-weight: 400;
    margin: 0;
}

.tabs a {
    color: inherit;
    text-decoration: none;
}

.tabs.tab-vertical {
    margin-bottom: 50px;
}

.tabs.tab-vertical .tab-col-left ul {
    margin: 0;
    padding: 0;
}

.tabs.tab-vertical .tab-col-left li {
    list-style: none;
}

.tabs.tab-vertical .tab-col-left li a {
    min-height: 50px;
    position: relative;
    display: block;
    background-color: #2566b1;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #277bb0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tabs.tab-vertical.tabs-warning .tab-col-left li a {
    background-color: #ff8a00;
    border-color: #ff7800;
}

.tabs.tab-vertical .tab-col-left li a:hover {
    background-color: #2c8ecd;
}

.tabs.tab-vertical.tabs-warning .tab-col-left li a:hover {
    background-color: #ff9b12;
}

.tabs.tab-vertical .tab-col-left li.active a {
    background-color: #2c8ecd;
}

.tabs.tab-vertical.tabs-warning .tab-col-left li.active a {
    background-color: #ff9b12;
}

.tabs.tab-vertical .tab-col-left li:last-child a {
    border-bottom: 0;
}

.tabs.tab-vertical .tab-col-left .diver {
    width: 100%;
    height: 1px;
    background-color: #d7d8d3;
    margin: 10px 0;
}

.tabs.tab-vertical .tab-col-left .files {
    margin-bottom: 50px;
}

.tabs.tab-vertical .tab-col-left .files .fa {
    float: left;
    font-size: 22px;
    margin-right: 10px;
}

.tabs.tab-vertical .tab-col-left .files p {
    margin: 0;
    margin-left: 30px;
}

.tabs.tab-vertical .tab-col-left .files p,
.tabs.tab-vertical .tab-col-left .files .fa {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tabs.tab-vertical .tab-col-right {
    font-size: 16px;
    color: #626366;
}

.tabs.tab-vertical .tab-col-right h3 {
    font-size: 22px;
    font-weight: bold;
    color: #2c8ecd;
    margin-bottom: 20px;
}

.tabs.tab-vertical.tabs-warning .tab-col-right h3 {
    color: #ff8a00;
}

.tabs.tab-vertical .tab-col-right .tab-pane > h3 {
    margin-top: 0;
}

.tabs.tab-vertical .tab-col-right ul {
    padding-left: 60px;
}

.tabs.tab-vertical .tab-col-right ul li {
    display: block;
    
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 20px;
}

.tabs.tab-vertical .tab-col-right ul li:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0da";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: -15px;
    display: inline-block;
    color: #2c8ecd;
}

.tabs.tab-vertical.tabs-warning .tab-col-right ul li:before {
    color: #ff8a00;
}

.tabs.tab-vertical .tab-col-right .icon {
    display: inline-block;
    position: relative;
    top: 2px;
}

.tabs.tab-vertical .tab-col-right p {
    margin-bottom: 10px;
    line-height: 26px;
    font-weight: 300;
}

.tabs.tab-vertical .tab-col-right i,
.tabs.tab-vertical .tab-col-right em {
    margin-bottom: 16px;
    font-weight: 300;
    display: inline-block;
    color: #626366;
    line-height: 20px;
    margin-bottom: 8px;
}

.tabs.tab-vertical .tab-col-right em {
    margin-bottom: 0 !important;
}

.tabs.tab-vertical .tab-col-right b,
.tabs.tab-vertical .tab-col-right h4 > strong {
    font-weight: bold;
    color: #626366;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}

.tabs.tab-vertical .tab-col-right b em,
.tabs.tab-vertical .tab-col-right h4 > strong em {
    display: inline-block;
    position: relative;
    top: 2px;
}

.tabs.tab-vertical .tab-col-right b em:before,
.tabs.tab-vertical .tab-col-right h4 > strong em:before {
    content: "\e111";
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs.tab-vertical .tab-col-right table,
.ranking-das-corretoras table {
    margin-bottom: 10px;
}

.tabs.tab-vertical .tab-col-right table,
.ranking-das-corretoras table {
    margin-top: 30px;
}

.tabs.tab-vertical .tab-col-right thead,
.ranking-das-corretoras thead {
    background-color: #1d5a90;
    color: #ffffff;
    font-weight: 400;
}

.tabs.tab-vertical .tab-col-right thead th,
.ranking-das-corretoras thead th {
    text-align: center;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.tabs.tab-vertical .tab-col-right tr td,
.ranking-das-corretoras tr td {
    text-align: center;
    font-size: 14px;
    color: #333333;
    padding: 13px;
    line-height: 21px;
    vertical-align: middle;
}

.tabs.tab-vertical .tab-col-right table > tbody > tr:nth-of-type(odd),
.ranking-das-corretoras table > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

.tabs.tab-vertical .tab-col-right table > tbody > tr:nth-of-type(even),
.ranking-das-corretoras table > tbody > tr:nth-of-type(even) {
    background-color: #c6c8ca;
}

.tabs.tab-vertical .tab-col-right .diver,
.ranking-das-corretoras .diver {
    width: 100%;
    height: 2px;
    background-color: #626366;
    margin-bottom: 60px;
}

.tabs.tab-vertical .tab-col-right hr,
.ranking-das-corretoras hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #626366;
}

.detalhes-noticia .data-noticia {
    float: right;
    color: #939597;
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 300px){
    .detalhes-noticia .data-noticia {
        float: none;
        margin-top: 10px;
    }
}

.detalhes-noticia h1 {
    font-size: 45px;
    color: #626366;
    font-weight: 300;
    line-height: 55px;
    margin-top: 30px;
}

@media (max-width: 640px){
    .detalhes-noticia h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

.detalhes-noticia img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.detalhes-noticia p {
    font-size: 16px;
    font-weight: 300;
    color: #626366;
    line-height: 25px;
    margin: 0 0 30px;
}

.detalhes-noticia iframe {
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
}

.detalhes-noticia .diver {
    width: 100%;
    height: 4px;
    background-color: #2c8ecd;
    margin-bottom: 50px;
}

.fale-conosco h3,
.ranking-das-corretoras h3 {
    font-size: 14px;
    font-weight: 500;
    color: #2c8ecd;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}

.fale-conosco p,
.ranking-das-corretoras p {
    font-size: 14px;
    font-weight: 300;
    color: #626366;
    margin-bottom: 5px;
}

.fale-conosco p b,
.ranking-das-corretoras p b {
    font-weight: 500;
}

.fale-conosco strong,
.fale-conosco b,
.ranking-das-corretoras strong,
.ranking-das-corretoras b {
    font-size: 14px;
    font-weight: 300;
    color: #626366;
    margin-bottom: 5px;
    font-weight: 500;
}

.fale-conosco i,
.fale-conosco em,
.ranking-das-corretoras i,
.ranking-das-corretoras em {
    font-size: 14px;
    font-weight: text-light;
    font-style: italic;
    color: #2c8ecd;
}

.fale-conosco .form-group,
.ranking-das-corretoras .form-group {
    margin-bottom: 20px;
}

.fale-conosco .form-control,
.ranking-das-corretoras .form-control {
    border-radius: 0;
    border-color: #c6c8ca;
}

.fale-conosco .form-control:not(textarea),
.ranking-das-corretoras .form-control:not(textarea) {
    height: 40px;
}

.fale-conosco label,
.ranking-das-corretoras label {
    color: #626366;
    font-size: 12px;
    text-transform: uppercase;
}

.fale-conosco .btn,
.ranking-das-corretoras .btn {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .fale-conosco .form-horizontal .control-label,
    .ranking-das-corretoras .form-horizontal .control-label {
        padding-top: 14px;
    }
}

.nossa-historia .background {
    background-size: 100% auto;
    padding-top: 20px;
}

.nossa-historia h2 {
    font-size: 38px;
    color: #1d5a90;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.nossa-historia h3 {
    font-size: 26px;
    color: #626366;
    font-weight: 100;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.nossa-historia p {
    line-height: 23px;
    font-size: 14px;
    color: #626366;
    font-weight: 300;
    margin-top: 0;
}

.nossa-historia img {
    margin: 0 auto;
}

.investimentos h2,
.politica-de-investimento h2,
.conjuntura-e-risco h2,
.demonstracoes-atuariais h2,
.demostracoes-contabeis h2,
.gestao h2,
.patrocinadoras h2:not(.patrocinadoras-home) {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 26px;
    color: #2b88c8;
    font-weight: 300;
    line-height: 32px;
}

.investimentos p,
.politica-de-investimento p,
.conjuntura-e-risco p,
.demonstracoes-atuariais p,
.demostracoes-contabeis p,
.gestao p,
.patrocinadoras p {
    font-size: 16px;
    font-weight: 300;
    color: #626366;
    line-height: 25px;
    margin-bottom: 0;
}

.diretoria-e-conselhos,
.governanca-corporativa {
    padding-bottom: 50px;
}

.diretoria-e-conselhos h3,
.governanca-corporativa h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    color: #626366;
    font-weight: 700;
}

.diretoria-e-conselhos .table-responsive,
.governanca-corporativa .table-responsive {
    border-bottom: 2px solid #626366;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.diretoria-e-conselhos table,
.governanca-corporativa table {
    margin-bottom: 10px;
}

.diretoria-e-conselhos table thead,
.governanca-corporativa table thead {
    background-color: #1d5a90;
}

.diretoria-e-conselhos table thead tr th,
.governanca-corporativa table thead tr th {
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 14px;
    border-right: 1px solid #ffffff;
    border-bottom: 0;
}

.diretoria-e-conselhos table thead tr th:last-child,
.governanca-corporativa table thead tr th:last-child {
    border-right: 0;
}

.diretoria-e-conselhos table tbody tr,
.governanca-corporativa table tbody tr {
    background-color: transparent;
}

.diretoria-e-conselhos table tbody tr td,
.governanca-corporativa table tbody tr td {
    border-right: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    padding: 5px 20px;
    border-top: 0;
}

.diretoria-e-conselhos table tbody tr td:last-child,
.governanca-corporativa table tbody tr td:last-child {
    border-right: 0;
}

.diretoria-e-conselhos table tbody tr:nth-of-type(odd),
.governanca-corporativa table tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.diretoria-e-conselhos table tbody tr:nth-of-type(even),
.governanca-corporativa table tbody tr:nth-of-type(even) {
    background-color: #c6c8ca;
}

table.panel {
    border-radius: 0;
    width: 100% !important;
}

table.panel td {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #626366;
    line-height: 25px;
    margin: 0 0 30px;
}

.resultado-busca h2 {
    font-size: 35px;
    font-weight: 300;
    color: #626366;
    line-height: 42px;
}

.resultado-busca h3 {
    font-size: 26px;
    font-weight: 300;
    color: #1d5991;
}

.resultado-busca h4 {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin-top: 0;
}

.resultado-busca p {
    font-size: 14px;
    font-weight: 300;
    color: #626366;
    line-height: 16px;
    margin-bottom: 10px;
}

.resultado-busca .input-search label {
    font-size: 12px;
    font-weight: 400;
    color: #626366;
    line-height: 20px;
    padding-right: 0;
}

.resultado-busca .input-search .form-control {
    border-radius: 0;
    height: 40px;
}

.resultado-busca ul {
    padding: 0;
    margin-bottom: 40px;
}

.resultado-busca ul li {
    list-style: none;
    margin-bottom: 4px;
}

.resultado-busca ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.resultado-busca ul li a span {
    color: #2c8ecd;
    font-size: 12px;
}

.resultado-busca ul li a span .fa {
    font-size: 15px;
    line-height: 18px;
}

.resultado-busca ul li a:hover h4,
.resultado-busca ul li a:hover p {
    color: #888;
}

.resultado-busca ul li a:hover span {
    color: #43A6E6;
}

.resultado-busca ul li.active a {
    color: #2c8ecd !important;
    font-weight: 800 !important;
}

.resultado-busca .pagination .screen-reader-text,
.resultado-busca .pagination .prev.page-numbers,
.resultado-busca .pagination .next.page-numbers {
    display: none;
}

.resultado-busca .pagination .page-numbers {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px 10px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333333 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-right: 1px solid #d7d8d3 !important;
}

.resultado-busca .pagination .page-numbers.current {
    color: #2c8ecd !important;
    font-weight: 800 !important;
    text-decoration: underline;
}

.pagination {
    padding: 0;
    margin-top: 0;
}

.pagination li {
    list-style: none;
    margin: 0;
}

.pagination li a {
    padding: 5px 10px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333333 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-right: 1px solid #d7d8d3 !important;
}

.pagination li.active a {
    color: #2c8ecd !important;
    font-weight: 800 !important;
    text-decoration: underline;
}

.midia h2 {
    font-size: 35px;
    font-weight: 300;
    color: #626366;
    line-height: 42px;
    margin-bottom: 60px;
}

.midia a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.midia .panel {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    position: relative;
    overflow: hidden;
}

.midia .panel .image {
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.midia .panel .image img {
    visibility: hidden;
}

.midia .panel:hover .image {
    background-size: 105%;
}

.midia .panel .panel-footer {
    border: 0;
    padding: 15px 10px;
    position: relative;
    min-height: 90px;
}

.midia .panel .panel-footer p {
    font-size: 18px;
    font-weight: 700;
    color: #626366;
    line-height: 21px;
    margin-bottom: 10px;
}

.midia .panel .panel-footer span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #2c8ecd;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.midia .panel .panel-footer span .fa {
    font-size: 20px;
}

.midia .form-group {
    margin-bottom: 30px;
}

.fotorama__thumb-border {
    border-color: #195B8D;
}

#galeriaModal .modal {
    background-color: rgba(0, 0, 0, 0.7);
}

#galeriaModal .modal-dialog {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#videoModal .modal-dialog {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#videoModal .modal-dialog .modal {
    background-color: rgba(0, 0, 0, 0.7);
}

.question ul {
    margin: 0;
    padding: 0;
}

.question > ul,
.question > ul * {
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: inherit !important;
}

.question > ul > li {
    display: inherit !important;
    font: inherit !important;
    font-size: inherit !important;
    text-rendering: inherit !important;
    -webkit-font-smoothing: inherit !important;
    -moz-osx-font-smoothing: inherit !important;
    line-height: inherit !important;
    background-color: #ffffff;
    padding: 15px 20px !important;
    margin-bottom: 10px;
}

.question > ul > li:before {
    content: "" !important;
}

.question > ul > li > h4 {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 15px;
    line-height: 22px;
    text-transform: none;
}

.question > ul > li > ul {
    padding: 0 12px !important;
}

.question > ul > li > ul::after {
    content: "";
    clear: both;
    display: block;
}

.question > ul > li > ul > li {
    float: left;
    width: 20%;
    padding: 0 10px !important;
}

.question > ul > li > ul > li:before {
    content: "" !important;
}

.question > ul > li > ul > li > label {
    display: block;
    border: 1px solid transparent;
    padding: 2px !important;
    font-style: 12px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.question > ul > li > ul > li > label:hover {
    border-color: #ff6600;
}

.question > ul > li > ul > li > label p {
    margin-bottom: 0 !important;
    font-size: 25px;
    text-transform: none;
    line-height: 30px !important;
}

.question > ul > li > ul > li > label p~p {
    font-size: 12px;
    line-height: 15px !important;
    text-transform: uppercase;
}

.question > ul > li > ul > li > label > div {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    padding: 5px 0;
    line-height: 15px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.question > ul > li:nth-child(1) > ul > li > label p {
    font-size: 18px;
}

.question > ul > li > ul > li:nth-child(1) > label > div {
    background-color: #1d5991;
}

.question > ul > li > ul > li:nth-child(2) > label > div {
    background-color: #33699c;
}

.question > ul > li > ul > li:nth-child(3) > label > div {
    background-color: #4a7aa7;
}

.question > ul > li > ul > li:nth-child(4) > label > div {
    background-color: #608ab2;
}

.question > ul > li > ul > li:nth-child(5) > label > div {
    background-color: #779bbd;
}

.question > ul > li > ul > li > input {
    display: none;
}

.question input:checked + label {
    border-color: #ff6600;
}

.question input:checked + label div {
    background-color: #ff6600 !important;
}

.question .soma {
    max-width: 608px;
    margin: 0 auto;
}

.question .soma h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.question .soma p {
    font-size: 18px;
    font-weight: 333;
    color: #333333;
    line-height: 4px !important;
}

.question .soma p b {
    font-size: 25px;
    font-weight: bold;
    color: #333333 !important;
}

.question .soma .exp {
    margin-top: 40px;
}

.question .soma .exp p {
    font-size: 16px;
    line-height: 0;
    margin-top: 30px;
}

.question .soma .exp p b {
    font-size: 16px;
}

.question .total::after {
    content: "";
    clear: both;
    display: block;
}

.question .total div {
    width: 20%;
    float: left;
    padding: 10px;
    margin-bottom: 40px;
}

.question .total div:first-child {
    padding-left: 0;
}

.question .total div:last-child {
    padding-right: 0;
}

.question .total div input {
    width: 100%;
    border: 1px solid #46b7ff;
    font-size: 25px;
    color: #333333;
    text-align: center;
}

* {
    outline: none !important;
    font-family: 'Roboto', sans-serif;
}

.hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hover:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.img {
    width: 100%;
    height: auto;
}

.img-auto-center {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

#area-participante {
    border: 0;
    width: 100%;
    height: 54px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .ultimas-noticias h2,
    .noticias h2,
    .destaque h2,
    .programas-produtos-patrocinadoras h2 {
        font-size: 28px;
    }
    footer > .container > .row:last-child .eletros {
        min-height: 560px;
    }
}

@media (max-width: 768px) {
    #area-participante {
        height: 150px !important;
    }
}
.detalhes-noticia .data-noticia-list {
    position: absolute;
    color: #939597;
    text-transform: uppercase;
    font-size: 12px;
    top: 24px;
    right: 0;
}

@media (max-width: 320px) {
    .detalhes-noticia .data-noticia-list {
        position: relative;
        margin-bottom: 10px;
    }
}

/*publicações*/
.publicacao {
    margin-bottom: 40px;
}

.publicacao h4 {
    font-size: 14px;
    color: #21539b;
    font-weight: 400;
    text-transform: uppercase;
}

.publicacao img {
    width: 100% !important;
    height: auto !important;
}

.publicacao .btn-pdf {
    background-size: 25px;
    font-size: 12px;
    font-weight: bold;
    min-height: 35px;
    padding-top: 9px;
    padding-left: 40px;
    width: 100%;
    margin: 20px 0;
}

.publicacao:last-child {
    margin-bottom: 70px;
}

.relatorio-anual {
    background-color: #ffffff;
    padding: 30px 20px;
}

.relatorio-anual .btn-pdf {
    width: 125px;
    max-width: 100%;
    margin: 25px auto 0;
    display: block;
}

.box-destaque {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-destaque:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}



@media (max-width: 768px){
    .container {
        width: 620px;
    }
    #bannerHome .carousel-inner .item {
        background: none !important;
        background-color: #eee !important;
        padding-bottom: 50px;
    }

    #bannerHome .carousel-inner .item img {
        display: block;
    }

    #bannerHome .item,
    #bannerHome .item [class*="col-"] {
        height: auto;
    }

    #bannerHome .carousel-indicators {
        right: 15px;
    }

    #bannerHome .box-text {
        position: relative;
        left: inherit;
        bottom: inherit; 
    }

    #bannerHome .box-text .box-text-content {
        min-height: 65px;
    }
}

@media (max-width: 640px){
    .container {
        width: 520px;
    }
}

@media (max-width: 540px){
    .container {
        width: 320px;
    }
    #bannerHome .box-text .box-text-content {
        min-height: 66px;
    }

    #bannerHome .box-text p {
        font-size: 16px;
    }
}

@media (max-width: 320px){
    .container {
        width: 270px;
    }

    #bannerHome .box-text .box-text-content {
        min-height: 140px;
    }
}

@media (max-width: 270px){
    .container {
        width: 100%;
    }
}

.ranking-das-corretoras p,
.ranking-das-corretoras li,
.ranking-das-corretoras li b {
    line-height: 23px;
    font-size: 16px;
    color: #626366;
    font-weight: 300;
    margin: 0 0 10px;
}

.ranking-das-corretoras li {
    list-style-type: disc;  
    margin-left: 17px;  
}

.ranking-das-corretoras li b {
    font-weight: 500;
}

.ranking-das-corretoras label + .btn {
    margin: 0;
}

.ranking-das-corretoras table {
    display: none;
}

.ranking-das-corretoras table * {
    text-align: left !important;
}

.ranking-das-corretoras table input {
    text-align: center;
    font-size: 14px;
    color: #333333;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    vertical-align: middle;  
}

.ranking-das-corretoras .radio input[type=radio] {
    margin-top: 1px;
}

.ranking-das-corretoras table .fa {
    font-style: inherit;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    color: #626366;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.ranking-das-corretoras table .fa:hover {
    color: #333;
}

.ranking-das-corretoras .btn + br {
    display: none;
}


.wpcf7-mail-sent-ok {
     color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
        padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;   
}

.wpcf7-validation-errors {
color: #a94442 !important;
color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
        padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.box-conselho .box-header {
    background-color: #1d5a90;
    padding: 13px 20px;
}

.box-conselho .box-header h4 {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.box-conselho .box-body {
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #626366;
    min-height: 180px;
}

.box-conselho .box-body ul {
    margin: 0 !important;
    padding: 0 !important;
}

.box-conselho .box-body ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    color: #626366;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

.box-conselho .box-body ul li + li {
    margin-top: 15px !important;
}

.box-conselho .box-body ul li:after {
    font-family: FontAwesome;
    content: "\f138";
    font-size: 14px;
    color: #2c8ecd;
    margin-left: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-conselho .box-body ul li:hover:after {
    color: #626366;
}

.tabs.tab-vertical .tab-col-right .box-conselho .box-body ul li:before {
    display: none;
}

.radio {
    margin: 15px 0;
}

.radio label + span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #626366;
    text-transform: uppercase;
    margin-top: -25px;
    padding-left: 35px;
}


.radio label {
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c8cacc;
    background-color: #fff;
    position: relative;
}

.radio label:before {
    position: absolute;
    left: 4px;
    top: 4px;
    display: none;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2c8ecd;
}

.radio input {
    position: absolute;
    visibility: hidden;
}

.radio input:checked + label:before {
    display: inline-block;
}

.fix:before,
.fix:after {
    display: table;
    content: " ";
}

.fix:after {
    clear: both;
}

.area-conselho .ano {
    width: 150px;
    margin-left: 10px;
    margin-top: 6px;
}

.periodo {
    margin-bottom: 40px;
}


.periodo label {
    font-size: 14px;
    font-weight: 300;
    color: #626366;
    padding-left: 15px;
}

.area-conselho hr {
    border-top: 1px solid #c6c8ca !important;
    margin: 50px 0 !important;
}

.area-conselho  h3 {
    margin: 0 0 30px !important;
    font-size: 20px;
    font-weight: bold;
    color: #626366 !important;
}

.area-conselho .atas {
    margin: 0;
    padding: 0 !important;
}

.area-conselho .atas li {
    margin-bottom: 10px !important;
}

.area-conselho .atas li:before {
    font-family: inherit;
    content: "" !important;
    background-image: url(img/pdf.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}

.area-conselho .atas li span {
    font-size: 14px;
    color: #2c8ecd;
}