.topo {
	.container {
		position: relative;
	}
	.content {
		height: 180px;
	}
	.text {
		position: absolute;
		bottom: 0;
	}
	h1 {
		font-weight: @text-thin;
		color: @color-ffffff;
		margin-bottom: 15px;
		font-size: @size-50;
	}
}