.ultimas-noticias {
	h2 {
		font-size: @size-32;
		color: @color-626366;
		font-weight: @text-bold;
		margin: 0;
	}
	a:not(.btn) {
		color: inherit;
		text-decoration: none;
	    display: block;
	    min-height: 140px;
	    padding: 30px 0;
	}
	li {
		font-size: @size-14;
		color: @color-626366;
		font-weight: @text-bold;
		border-bottom: 1px solid @color-d1d1d1;
		.transition(.3s);
		&:last-child {
			border: 0;
		}

		&:hover {
			color: #444;
			.link {
				color: #1d5a90;
			}
		}
	}
	.link {
		margin-top: 10px;
		font-size: @size-12;
		color: @color-2c8ecd;
		text-transform: uppercase;
		text-decoration: none;
		.transition(.3s);
		.fa {
			font-size: @size-14;
		}
	}
	.box-label {margin-bottom: 10px;}
	.label {
		position: relative;
	}
}