@charset "utf-8";
/* CSS Document */

/* -------------------------- General ----------------------  */
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	color: #606060;
	font-weight: lighter;
	background-image:url("../img/bg_logo_insid.png");
	background-color: #f5f9fd;
	background-repeat: no-repeat;
	background-position: 70% 140px;
}

a:link, a:visited {
	color: #0068A6;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color: #0a416a;
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
	background-color: #cde4f6;
}

h1, h2, h3, h4, h5, h6 {
	color: #176b7f;
	font-weight:bold;
}

h1 {
	font-size: 1.3em;
	text-transform:uppercase;
	border-bottom: 1px solid #176b7f;
	margin-bottom: 0.8em;
	padding-bottom: 0.2em;
	background-image:url(../img/ico_header.jpg);
	background-position: 0 0;
	background-color:transparent;
	background-repeat:no-repeat;
	padding-left: 25px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color:#176b7f;
}

h3, h4, h5, h6 {
	font-size: 1em;
	margin-bottom: 0.5em;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	cursor: pointer;
	background-color: #046799;
	color:#FFF;
	padding: 5px 15px;
	font-weight: bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: solid #959595 1px;
	border: solid 1px #c0d7e5;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #2275b3;
	color:#FFF;
	border: solid 1px #046799;
}
	
.blue_btn {
	font-size: 0.77em;
	color:#FFF;
	font-weight: bold;
	background-color: #046799;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #081e37 1px solid;
	padding: 0.4em 1.3em;
	margin: 0.3em 0;
}

.blue_btn:hover, .blue_btn:focus {
	background-color: #0a416a;
}


input[type="text"], input[type="password"], input[type="file"], select, textarea {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: solid #959595 1px;
	-webkit-box-shadow: inset 5px 5px 10px 5px #dadada;    
    box-shadow: inset 5px 5px 10px 5px #dadada;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.2em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, select:focus, .textarea:focus {
	background-color: #fef3e5;
}

hr {
	border-bottom: 1px solid #CCC;
    margin-bottom: 1.6em;
}

.warp {
	width: 1000px;
	margin: 0 auto;
}

p {
	margin-bottom: 15px;
}

strong {
	font-weight:bold;
	color: #5d5d5d;
}

table {
	border:#999 solid 1px;
	color:#666;
	background-color:#FFF;
	margin: 15px 0;
}

table td {
	padding: 10px 5px;
	text-align:center;
}

.header_table_01 {
	background-color: #948b50;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
}

.header_table_02 {
	background-color: #ded9c5;
    color: #948b50;
    font-size: 1em;
    font-weight: bold;
}

.table_total {
	background-color: #8f8f8f;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
}	
.table_total_geral{
	background-color: #c9c9c9;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
}

blockquote {
	margin-left: 20px;
	font-size: 1em;
	line-height: 1.2em;
}

.destaq_sub-menu {
	background-color:#FFF;
	padding: 15px 0 5px 15px;
	line-height: 1em;
	margin: 5px 0 20px 0;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.position_top_button {
	text-align:right;
	position: relative;
	float: right;
}

/* -------------------------- Header ----------------------  */

header {
}

.bg_home_eletros {
    background-image: url("../img/bg_eletros2.jpg");
    background-position: center 0;
    background-repeat: repeat-x;
    background-color: #F1EFF0;
}

.bg_header_home_eltros {
	background:#fff;
	height: 145px;
}

.bg_header {
	background:url("../img/bg_top_inter.png");
	background-position: center 0;
	background-repeat: repeat-x;
	background-color: transparent;
	height: 115px;
}

.logo_eletros_header {
	float: left;
	margin: 30px 0 0 10px;
}

.logo_eletros_anuario {
	float: right;
	margin: 30px 10px 0 0;
}

.logo_position {
	float: left;
	margin: 20px 0 0 10px;
}

.title_header_position {
	float: right;
	margin: 20px 10px 0 0;
}

/* -------------------------- Menu ----------------------  */

.home_menu_eletros {
	margin-top: 15px;
}

.home_menu_eletros li {
	background: #0068a6;
    border-radius: 5px;
    margin: 14px;
    width: 280px;
    padding: 14px 15px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}

.home_menu_eletros li:hover {
	background: #45ABE6;
	text-decoration: none;
}

.home_menu_eletros a {
	text-decoration: none;
}

.menu {

    margin: 15px 10px;
    /* 
    width: 230px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 2px 2px 5px 1px #ccc;
	box-shadow: 2px 2px 5px 1px #ccc;  */
	}

.menu li {
    padding-bottom: 10px;
}

.menu ul li {
	background: #0068a6;
    border-radius: 5px;
    margin: 7px;
    padding: 10px 3px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}
.menu ul li.active {
    background: #45ABE6;
    text-decoration: none;
}

.menu ul li:hover {
    background: #45ABE6;
    text-decoration: none;
}

.menu ul li:hover a, .menu ul li.active a {
	color:#FFF;
}

.menu a {
	color: #fff;
}

.broadcump {
	font-weight:bold;
	margin-bottom: 10px;
}


/* -------------------------- Coluns ----------------------  */

.colun_1 {
}

.colun_1_2 {
	width: 27%;
}

.colun_2_2 {
    width: 70%;
	font-size: 0.8em;
	padding: 15px 10px;
}

.colun_1_3, .colun_2_3, .colun_3_3  {
    width: 32%;
}

.colun_1_1_3 {
	width: 100%;
	margin: 10px 0 20px;
}

.colun_1_2_3 {
    width: 48%;
}
.colun_1_3_3 {
    width: 48%;
	float: right;
	margin: 0 10px 15px 0;
}
.alpha {
	float: left;
}

.omega {
	float: right;
}
.position_colun_1_2 {
	margin-botton: 25px;
}

.position_colun_2_2 {	
}

.position_alpha_profiles {
	width: 49%;
	float: left;
	margin: 25px 0 10px 0;
}

.position_omega_profiles {
	width: 49%;
	float: right;
	margin: 25px 0 10px 0;
}

.position_alpha_profiles img, .position_omega_profiles img {
	width:100%
}


/* -------------------------- Footer ----------------------  */

.footer {
	background:url("../img/bg_botton_inter.png");
	background-position: center 0;
	background-repeat: repeat-x;
	background-color:#FFF;
	padding-top: 30px;
}

.bg_footer_home_eletros {
	background:url(../img/bg_botton.png);
	background-position: center 0;
	background-repeat: repeat-x;
	background-color: transparent;
	height: 145px;
}

.adress_footer_insid {
	float: left;
    margin: 20px 0 30px 10px;
    width: 75%;
}

.adress_footer_insid p  {
	margin-bottom: 0;
	text-align:center;
}

.ico_footer_position_insid {
	float: right;
    margin: 20px 10px 0 0;
    width: 20%;
}

.adress_footer {
	width: 75%;
	float: left;
	 margin: 80px 0 0 10px;
}

.adress_footer p {
	text-align:center;
	font-size: 0.8em;
	margin-bottom: 0px;
}

.ico_footer_position {
	width: 20%;
	float: right;
	margin: 90px 10px 0 0;
}

.ico_home, .ico_contact, .ico_facebook, .ico_twitter {
	float:left;
	background-color: transparent;
    background-image: url("../img/ico_footer.png");
    height: 33px;
    width: 35px;
	margin: 0 5px;
}

.ico_home {
    background-position: 0 0;
}

.ico_home:hover {
	background-position: 0 -37px;
}

.ico_contact {
    background-position: -49px 0;
}

.ico_contact:hover {
	background-position: -49px -37px;
}

.ico_facebook {
    background-position: -100px 0;
}

.ico_facebook:hover {
	background-position: -100px -37px;
}

.ico_twitter {
    background-position: -145px 0;
	width: 27px;
}

.ico_twitter:hover {
	background-position: -145px -37px;
}

/* -------------------------- Content ----------------------  */

.content  ul {
	margin-bottom: 20px;
}

.content ul li {
	list-style: disc inside none;
    margin-bottom: 10px;
    padding-left: 20px;
}

.content img {
	margin-bottom: 15px;
}

.destaq_relatorio {
	padding:10px 5px;
	background-color:#FFF;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.table_align_right {
	text-align:right;
	font-size: 0.85em;
}

.table_align_left {
	text-align:left;
	font-size: 0.85em;
}

.table_numeros td{
	 padding: 5px 10px;
}

.position_menu_index {
	float: right;
    position: relative;
    right: 5px;
    top: -40px;
}

.link_color_menu a {
	color: #046799;
    font-size: 0.8em;
    line-height: 1em;
}

.link_color_menu a:hover {
color: #046799
}
/* -------------------------- Ajuste de Tamanaho do browser ----------------------  */

/* 1024 pixels - Tablets maiores em modo paisagem, monitores antigos. */
@media only screen and (max-width: 1024px) {
	
		body {
			font-size: 89.2%;
		}		
		.warp {
			max-width: 1000px;
		}	

	}

/* 800 pixels - Tablets pequenos. Ex: Amazon Kindle Fire (600×800)
1024 pixels - Tablets maiores em modo retrato. Ex: iPad (768×1024) */
@media screen and (max-width: 768px) {

		.warp {
		max-width: 760px;
		}	

	}	
	
/* 480 pixels - Smartphones no modo paisagem. */
@media screen and (max-width: 480px) {
	
		body {
			font-size: 75%;
		}	
		.warp {
			max-width: 470px;
		}
								
	}
	
/* 320 pixels - Smartphones no modo retrato. */
@media screen and (max-width: 320px) {
	
		.warp {
		max-width: 310px;
		}		
	}