h1{   color: #115F8F;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8);
    font-weight: bold !important;}

    .uk-navbar-nav {
    background: #818181 url(https://www.multilinks.com.br/eletros2016/https/images/bgbar.png) repeat-x;
    padding: 15px;
    width: 100% !important;
    max-width: 100% !important;
    position: absolute;
    margin-top: 102px;
    left: 0px;
    right: 0;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2), 0 1px 4px 0px rgba(0, 0, 0, 0.2) !important;
}
.uk-navbar-nav {
    margin: 0;
    list-style: none;
}
.uk-navbar-nav > li {
    display: inline;
    position: relative;
}
.uk-navbar-nav > li > a:hover, .uk-navbar-nav > li.uk-active > a:focus, .uk-navbar-nav > li.uk-active > a {
    background: #818181 url(https://www.multilinks.com.br/eletros2016/https/images/bgbar2.png) repeat-x;
    color: #000000 !important;
    text-decoration: none;
}
.uk-navbar-nav > li > a {
    color: #ffffff !important;
    height: 45px!important;
    padding: 15px 40px!important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: regular;
    font-size: 15px;
}
